extends /app.pug

block pageInfo
  -
    let page = {
      websiteURL,
      url: "/projects/google-designs",
      name: "google-designs",
      title: "Google Designs — A project I did with Google.",
      description: "I worked with the Google Designs team to... Lorem Ipsium dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt..."
    };

block content
  //- Banner layer
  +hero({
    title: "Google Designs — A project I did with Google...",
    content: "I worked with the Google Designs team to... Lorem Ipsium dolor sit amet, tempor...",
    image: {
      class: "effect-parallax hero-img",
      src: "cloudinary/engineer-piping",
      alt: "An image of large pipes for a Power Plant from Unsplash by @martinadams."
    }
  })

  //- Intro layer
  +layer({
    class: "layout-padding-horz-default--device-gt-tablet"
  })
    +layout({
      class: "layout-shorten layout-contain"
    })
      +head("What did I do?")
      +main({
        class: "layout-padding-vert-small layout-clearfix"
      })
        +p
          span.style-font-title.style-letter-head.layout-padding-right-nano.layout-inline-block.layout-left A
          span.layout-inline.layout-margin-dull s a mechatronics engineer I am adept at electrical, mechanical, and robotics, this allows me to take on a variety of projects, some more electrical, some robotic. I am often wonderstruck by mechatronics, and I like to create things that will leave others as wonderstruck as me when I see an amazing project.
          span.layout-inline.layout-margin-dull(lorem="1")
          p.layout-inline.layout-margin-dull(lorem="3")
          span.layout-inline.layout-margin-dull  Some more electrical, lorem ipsum dolor,
          span.layout-inline.layout-margin-dull= " "
          +link({
            href: "/",
            class: "layout-margin-horz-left-mini",
            content: "wanna go back home?"
          })

  //- Next page layer
  +link({
    href: "/projects/nasa",
    class: "layout-block"
  }, true)
    +layer({
      class: "layout-padding-horz-default--device-gt-tablet layer-black layer-next"
    })
      +head({
        class: "layout-padding-top-default"
      })
        h3.layer-title.style-font-light.style-font-thin.style-spaceout.style-font-default--device-gt-tablet.style-font-20 Previous
      +layout({
        class: "layout-contain layout-padding-horz--device-gt-tablet"
      })
        +main({
          class: "layout-padding-vert-sub-large--device-gt-tablet"
        })
          p.layer-content.style-font-bold.style-400.style-font-large--device-gt-tablet.style-font-sub-large--device-lt-tablet.style-line-height Nasa

        +tile({
          class: "layer-box layer-box-flat layer-tertiary-dark layer-shadow--2 layout-margin-vert-top-larger layout-block layer-tile-outline",
          image: {
            class: "effect-parallax",
            src: "cloudinary/aerial-photo-of-brown-mountains",
            alt: "An aerial photo of brown mountains by JOHN TOWNER @heytowner on Unsplash.",
          }
        })
