@use "./mixin.scss" as *;

html, body {
    @apply font-manrope font-400;
}

html {
    background-color: $black;
    color: $white;

    text-rendering: optimizeSpeed;
    word-wrap: break-word;
    line-height: 1.15;
    font-weight: 400;
    font-size: 15px;
    -webkit-tap-highlight-color: transparent;

    @media (max-width: 300px) {
        word-break: break-all;
    }
}

a {
    @apply text-primary;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: underline;
        color: darken($primary, 55%);
    }
}

button,
a {
    transition: box-shadow 0.2s ease-out;
    @apply focus-visible:ring-4 focus-visible:ring-primary focus-visible:ring-opacity-90;
    @apply ring-offset-2 ring-offset-black;
    @apply rounded-md focus:outline-none;
}

figure.img {
    background-color: rgb(31, 31, 44);
    min-height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;

    &.h-default {
        height: 400px;
    }

    &-show .img-core {
        opacity: 0.7;
    }

    img {
        position: absolute;
        object-fit: cover;
        object-position: center top;
        left: 0;
        bottom: 0;

        height: 100%;
        width: 100%;
    }

    &.bottom img {
        object-position: center bottom;
    }
}

.img-core {
    transition: opacity ease 0.45s;
    opacity: 0;
}

.img-core,
.no-script-img {
    image-rendering: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
}

a.skip-main {
    transition: border 0.35s ease;
    border: 2px solid $primary;
    color: $black;
    background-color: $primary;
    transform: translateX(-50%);

    @apply absolute top-0 left-0 rounded-lg text-center mt-10 text-lg py-2 w-full;
    @apply left-1/2 -translate-x-1/2 opacity-0 pointer-events-none;
    max-width: theme("spacing.96");

    z-index: 500;


    &:focus,
    &:active {
        opacity: 1;
        pointer-events: auto;
    }
}

figure.object-center img {
    @apply object-center;
}

.footer-layout {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;

    @include screen("lt-md") {
        flex-direction: column;
    }

    @supports (padding-bottom: env(safe-area-inset-bottom)) {
        padding-bottom: env(safe-area-inset-bottom);
    }
}

#copyright {
    @apply relative z-10;
}