@use "./mixin.scss" as *;

/* -- Action (represents elements that request direct interaction) -- */
.icon {
    font-feature-settings: "liga", "dlig";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    vertical-align: middle;
    letter-spacing: normal;
    display: inline-block;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    font-weight: 400;
    position: relative;
    font-style: normal;
    word-wrap: normal;
    @apply text-2xl;
    line-height: 1;
    direction: ltr;
    height: 1em;
    width: 1em;

    &-btn,
    &-btn:hover {
        border-radius: 9999px;
        &:focus-visible {
            border-radius: 9999px;
        }
        text-decoration: none;
    }
}

.icon-btn {
    @apply w-10 h-10 flex items-center justify-center;
    min-width: theme("spacing.10");

    .icon {
        @apply rounded-full block;
    }
}

.icon-outline {
    text-align: center;
    $sz: get($sizes, "16");
    color: $primary;
    font-size: get($sizes, "8");
    width: $sz;
    height: $sz;
    line-height: $sz;
    border-radius: get($radii, "full");
    background: transparentize($primary, 0.75);
    display: grid;

    @include screen("md") {
        margin: 0 auto;
    }

    svg {
        place-self: center;
    }
}

.btn {
    transition: width 0.6s ease 0s !important;
    @apply overflow-hidden select-none;

    &-hover {
        @apply w-10;

        .btn-content {
            @apply opacity-0;
        }

        &:hover,
        &:focus-visible {
            width: theme("spacing.44");
            .btn-content {
                @apply opacity-100;
            }
        }
    }

    &-layout {
        @apply flex w-full items-center justify-center align-middle;
    }

    &-content {
        transition: opacity 0.4s ease 0.1s;
        @apply text-center text-sm;
        @apply font-bold uppercase whitespace-nowrap;
        @apply overflow-hidden flex w-full;
    }
}

#back-to-top {
    transition: box-shadow 0.2s ease-out;
    position: relative;
    display: flex;
    padding: get($sizes, "3") get($sizes, "4");
    margin: get($sizes, "5") auto;
    border-radius: get($radii, "full");
    align-items: center;
    background-color: $primary;
    color: $black;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;

    &:focus,
    &:hover {
        @apply ring-2 ring-primary;
        @apply ring-offset-2 ring-offset-black;
    }

    .icon,
    span {
        margin-right: get($sizes, "2");
    }
}