@use "./mixin.scss" as *;
#main {
    a {
        color: $primary;
    }

    svg {
        vertical-align: middle;
        width: 1em;
        height: 1em;
    }
}

.content {
    @apply text-base;
    line-height: 2;

    .layout {
        padding: get($sizes, "12") get($sizes, "3");

        @include screen("sm") {
            padding: get($sizes, "24") get($sizes, "10");
        }
    }

    @include screen("lg") {
        font-size: get($sizes, "5");
    }
}

.layer-bg-gray {
    background-color: transparentize($white, 0.87);
    margin: 0 auto;
    padding: get($sizes, "10") get($sizes, "10");

    @include screen("lg") {
        border-radius: get($radii, "2xl");
    }
}

.grid-4 {
    display: grid;
    grid-auto-flow: row;
    row-gap: get($sizes, "24");
    column-gap: 0;

    @include screen("md") {
        grid-auto-flow: columns;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: get($sizes, "24");
        row-gap: get($sizes, "20");
        text-align: center;
    }
}

.icon-outline {
    text-align: center;
    $sz: get($sizes, "16");
    color: $primary;
    font-size: get($sizes, "8");
    width: $sz;
    height: $sz;
    line-height: $sz;
    border-radius: get($radii, "full");
    background: transparentize($primary, 0.75);
    display: grid;

    @include screen("md") {
        margin: 0 auto;
    }

    svg {
        place-self: center;
    }
}

.grid-6 {
    margin-top: get($sizes, "12");
    display: grid;
    grid-auto-flow: row;
    row-gap: get($sizes, "12");
    column-gap: 0;

    @include screen("md") {
        grid-auto-flow: columns;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: get($sizes, "6");
    }
}
