@use "./mixin.scss" as *;

.scroll-btn {
    border: 2px dashed transparent;
    background-color: get($colors, "transparent");
    // padding: get($sizes, "4");
    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // transform: translateX(-50%);
    color: $primary;
    cursor: pointer;
    font-family: inherit;

    &:hover,
    &:focus {
        text-decoration: line-through;
    }

    .scroll-text {
        text-transform: uppercase;
        font-size: get($sizes, "4");
        font-weight: 600;
    }

    .scroll-outline,
    .scroll-icon {
        $sz: 1.75em;
        font-size: get($sizes, "8");
        border-radius: get($radii, "full");

        color: $black;
        width: $sz;
        height: $sz;
        line-height: $sz;
    }

    .scroll-outline {
        transform-origin: center center;
        border: 2px solid $primary;
        transform: scale(1);
        position: absolute;
        pointer-events: none;
        opacity: 1;
        left: 0;
        top: 0;
    }

    .scroll-icon {
        background-color: $primary;
        margin: get($sizes, "5");
        position: relative;
    }

    svg {
        $sz: 1em;
        width: $sz;
        height: $sz;
    }
}

#main {
    a {
        color: $primary;
    }

    svg {
        vertical-align: middle;
        width: 1em;
        height: 1em;
    }
}

.content {
    // font-size: 1.125rem;
    font-size: get($sizes, "4.5");
    line-height: 2;

    .layout {
        padding: get($sizes, "12") get($sizes, "8");
    }

    @include screen("sm") {
        .layout {
            padding: get($sizes, "24") get($sizes, "10");
        }
    }

    @include screen("lg") {
        font-size: get($sizes, "5");
        // line-height: 2.5rem;
    }
}

.layer-bg-gray {
    background-color: transparentize($white, 0.87);
    margin: 0 auto;
    padding: get($sizes, "10") get($sizes, "10");

    @include screen("lg") {
        border-radius: get($radii, "2xl");
    }
}

.grid-4 {
    display: grid;
    grid-auto-flow: row;
    row-gap: get($sizes, "24");
    column-gap: 0;

    @include screen("md") {
        grid-auto-flow: columns;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: get($sizes, "24");
        row-gap: get($sizes, "20");
        text-align: center;
    }
}

.icon-outline {
    text-align: center;
    $sz: get($sizes, "16");
    color: $primary;
    font-size: get($sizes, "8");
    width: $sz;
    height: $sz;
    line-height: $sz;
    border-radius: get($radii, "full");
    background: transparentize($primary, 0.75);
    display: grid;

    @include screen("md") {
        margin: 0 auto;
    }

    svg {
        place-self: center;
    }
}

.grid-6 {
    margin-top: get($sizes, "12");
    display: grid;
    grid-auto-flow: row;
    row-gap: get($sizes, "12");
    column-gap: 0;

    @include screen("md") {
        grid-auto-flow: columns;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: get($sizes, "6");
    }
}
