/*
    -- Layer (represents a section of code that displays content) --
     * ".more" = is for the learn more buttons
*/
.layer {
    font-family: $regular-font;
    line-height: 1.85;
    position: static;
    contain: content;
    font-size: 17px;
    display: block;
    width: 100%;
    z-index: 0;

    @media #{$screen-size-lt-tablet} {
        line-height: 1.15;
        font-weight: 400;
        font-size: 15px;
    }

    // /* &-title {
    //    // overflow-wrap: break-word;
    // } */

    &-content {
        position: relative;
        z-index: 25;
    }

    &-image {
        position: absolute;
        overflow: hidden;
        contain: strict;
        display: block;
        height: 100%;
        width: 100%;
        z-index: 0;
        left: 0;
        top: 0;

        &.effect-parallax {
            .layer-main {
                opacity: 1;
            }
        }

        & picture {
            position: absolute;
            // // overflow: hidden;
            display: block;
            height: 100%;
            z-index: 250;
            width: 100%;
            left: 0;
            top: 0;

            &.plchldr-pic {
                // z-index: 500;
            }
        }

        &-preview-img-card {
            transition: background-color #{$transitionDuration} ease;
            position: absolute;
            background-color: $dark;
            background-color: var(--light, $dark);
            // background: $dark;
            display: block;
            height: 100%;
            width: 100%;
            z-index: 0;
            opacity: 1;
            left: 0;
            top: 0;
        }

        &-overlay {
            transition: background-color #{$transitionDuration} ease, border-color .25s ease;
            background-color: darken(#252072, 20%);
            // @include applyTheme(background, "dark");
            position: absolute;
            display: block;
            opacity: 0.55;
            z-index: 505;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }

        &-blur {
            filter: blur(3px);
        }
    }

    &-shadow,
    %shadow {
        box-shadow: 0 0px 35px 5px change-color($dark, $alpha: 0.53);// rgba(0, 0, 40, 0.23);

        &--1 {
            // box-shadow: 0 5px 14px 6px rgba(0,0,0,.23);
            // box-shadow: 0 5px 14px 6px rgba(19, 19, 19, 0.23);
            // box-shadow: 0 2px 10px 2px rgba(33, 33, 33, 0.22);
            box-shadow: 0 0 10px 2px rgba(33, 33, 33, .12);
            // border: 1px solid change-color($white, $alpha: 0.7);
            // border-color: var(--tertiary, white);
            // border: 2px solid var(--dark);
            // border: 2px solid rgba(255, 255, 255, 0.35);
        }

        &--2 {
            box-shadow: 0 10px 85px rgba(0, 0, 0, 0.35);
            // border: 2px solid change-color($tertiary, $alpha: 0.35);
        }
    }

    &-overflow-hide {
        overflow: hidden;
    }

    &:not(.banner-mode) &-hero .layer-image {
        border-radius: 15px;
    }

    &.banner-mode .layer-image figcaption {
        padding: $size;
        padding-top: $size-small + 60px;
    }

    &-hero,
    %hero {
        // @extend %shadow;
        // background: $surface;
        position: relative;
        z-index: 125;

        .layer-image {
            cursor: help;

            img {
                // transform: scale(1.2);
                color: transparent;
                min-width: 500px;
            }

            figcaption {
                padding: $size-small;
            }
        }

        .load-img.img-show {
            figcaption {
                color: transparent;
            }
        }

        &-scroll-down {
            position: relative;
            z-index: 250;

            @media #{$screen-size-lt-tablet} {
                margin-bottom: -176px;
            }

            @media #{$screen-size-laptop} {
                margin-bottom: -276px;
            }

            @media #{$screen-size-desktop} {
                margin-bottom: -270px;
            }
        }

        .layer-title {
            font-size: 54px;

            @media (max-width: 500px) {
                font-size: 34px;
            }

            @media (min-width: 500px) {
                font-size: 44px;
            }

            @media (min-width: 700px) {
                font-size: 7vw;
            }

            @media (min-width: 900px) {
                font-size: 54px;
            }
        }

        .layer-main-text {
            font-family: $regular-font;
            line-height: 1.25;
            font-weight: 400;
            font-size: 4vw;

            @media (max-width: 500px) {
                line-height: 1.5;
                font-size: 18px;
            }

            @media (min-width: 500px) {
                font-size: 20px;
            }

            @media (min-width: 700px) {
                font-size: 22px;
            }

            @media (min-width: 900px) {
                font-size: 26px;
            }
        }
    }

    &-center-line {
        padding: $size-larger;
        width: 100%;

        &:before {
            // transition: border-left-color #{$transitionDuration} ease;

            border-left: 1px solid transparent;
            border-left-color: lighten($dark, 35%);
            border-left-color: var(--mid-light, lighten($dark, 35%));

            transform: translateX(100%);
            vertical-align: middle;
            display: inline-block;
            height: 50px;
            content: "";
            width: 50%;
        }
    }
    
    &-okikio-img {
        position: relative;
        max-width: 300px;
        height: 300px;
        width: 300px;

        .layer-image-overlay {
            background-color: transparent !important;
        }

        &.layout-left {
            margin-bottom: $size;
            margin-right: $size;
        }

        @media #{$screen-size-lt-tablet} {
            max-width: 100%;
        }

        .placeholder-img {
            transform: scale(1) !important;
        }
    }

    &-secondary-btn {
        transition: background-color #{$transitionDuration} ease;
        @include applyTheme(background-color, "secondary-light");

        &:hover, &:focus {
            @include applyTheme(background-color, "secondary");
        }

        &, &:hover, &:focus {
            color: $black;
        }
    }

    &,
    &-bkg,
    &-background {
        @include colorList(background-color);
    }

    &-border {
        $borderStyles: ("solid": solid,
                "dotted": dotted,
                "dashed": dashed,
                "double": double,
                "groove": groove,
                "ridge": ridge,
                "inset": inset,
                "outset": outset,
                "hidden": hidden,
                "none": none);
        border: 1px solid $mid;

        @for $sz from 1 through 10 {
            &-width-#{$sz} {
                border-width: #{$sz}px;
            }
        }

        @for $sz from 1 through 20 {
            &-radius-#{$sz} {
                border-radius: #{$sz}px;
            }
        }

        @include colorList(border-color);
        @include propertyList(border-width, "size", $sizes);
        @include propertyList(border-radius, "radius", $sizes);
        @include propertyList(border-style, "style", $borderStyles);
    }

    &-round {
        border-radius: 20em;
    }

    &-tile {
        position: relative;
        min-height: 300px;
        cursor: pointer;
        display: block;
        width: 100%;

        &-outline .layer-image-overlay {
            border: 4px solid transparent;
            border-radius: 8px;
        }

        &-outline:hover .layer-image-overlay {
            border-color: $secondary-light;
            border-color: var(--secondary-light, $secondary-light);
        }

        &,
        .layer-image {
            overflow: hidden;
        }

        &-footer {
            transition: color #{$transitionDuration} ease;
            color: $white;
            @include applyTheme(color, "white");
            position: absolute;
            margin: 20px 25px;
            bottom: 0;
        }
    }

    &-box {
        position: relative;
        min-height: 300px;
        width: 100%;

        &,
        .layer-image {
            border-radius: 8px;
        }

        &-flat {
            &,
            & .layer-image,
            & .layer-image-overlay {
                border-radius: 0 !important;
            }
        }

        &-mid {
            // max-height: 600px;
        }

        &-tall {
            width: 100%;
            height: auto;
            // max-height: 1600px;
        }
    }

    &-main {
        line-height: 2em;
        z-index: 25;
    }

    &-action-center {
        transition: opacity .4s ease-in-out;
        pointer-events: auto;
        font-size: 24px;
        position: fixed;
        contain: content;
        bottom: 15px;
        z-index: 250;
        // width: 100%;
        right: 0;

        &-hide {
            pointer-events: none;
            opacity: 0;
        }

        &-show {
            opacity: 1;
        }
    }

    &-next {
        background-color: $white;
        background-color: var(--very-light, $white);
        contain: layout !important;

        .layer-title,
        .layer-content {
            color: $primary;
            color: var(--tertiary, $primary);
            text-align: center;
        }

        @media #{$screen-size-gt-tablet} {
            margin-bottom: $size-extra-large;

            .layer-tile {
                margin-bottom: -$size-extra-large;
            }
        }
    }
}
