@use "./mixin.scss" as *;

nav {
    transition: color 0.35s ease;
    position: fixed;
    top: 0;
    left: 0;
    contain: layout size;
    display: block;
    @apply z-50 font-montserrat;

    &[initial-color="bright"] {
        color: $primary;
    }

    &[initial-color="dark"] {
        color: $black;
    }

    &[color-mode="bright"] {
        &:hover,
        &.active {
            color: $black;
        }

        nav-cover {
            background-color: $primary;
        }
    }

    &[color-mode="dark"] {
        &:hover,
        &.active {
            color: $primary;
        }

        nav-cover {
            background-color: $black;
        }
    }

    &:hover,
    &.active {
        nav-cover[type="small"] {
            transform: translateY(0);
        }
    }

    @include screen("lt-sm") {
        transition: color 0.55s ease-out 0.2s;

        nav-cover[type="large"] {
            transition: transform 0.55s ease-out, opacity 0.55s ease-out 0.45s,
                background-color 0.55s ease-out 0.2s;
        }

        navbar-list {
            transition: opacity 0.25s ease;
            pointer-events: none;
            opacity: 0;
        }

        .navbar-link {
            transition: visibility 0.55s ease, opacity 0.35s ease,
                transform 0.35s ease-out 0.45s;
            visibility: hidden;
            transform: translateY(80px);
            opacity: 0;
        }

        &.show {
            transition: color 0.45s ease;
            color: $primary !important;
            
            nav-cover[type="large"] {
                transition: transform 0.55s ease-out 0.15s, opacity 0.35s ease-out;
                transform: translateY(0);
                background-color: $black;
                opacity: 1;
            }

            navbar-list {
                pointer-events: auto;
                opacity: 1;
            }

            .navbar-link {
                visibility: visible;
                transform: translateY(0);
                opacity: 1;

                @for $i from 0 through 4 {
                    &:nth-of-type(#{$i}) {
                        $duration: 0.45s + $i * 0.25s;
                        transition: opacity 0.35s ease 0.3s,
                            transform #{$duration} ease 0.15s;
                    }
                }
            }
        }
    }
}

nav-overlay {
    transition: opacity 0.25s ease;
    background-color: transparentize(black, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    @apply z-30;
    pointer-events: none;

    @screen lt-sm {
        &.show {
            transition: opacity 0.55s ease-out 0.35s;
            opacity: 1;
        }
    }
}

nav-cover {
    transition: background-color 0.35s ease-out, transform 0.35s ease-out;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &[type="large"] {
        transform: translateY(calc(-100vh + #{$navHeight}));
        height: 100vh;
        opacity: 0;
    }

    &[type="small"] {
        transform: translateY(-$navHeight);
        height: $navHeight;
    }
}

nav,
navbar {
    height: $navHeight;
    line-height: $navHeight;
    width: 100%;
}

navbar {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: get($screens, "lg");
    margin: 0 auto;
    flex-wrap: nowrap;
    word-wrap: normal;
    white-space: nowrap;
    @apply items-center;
}

.navbar-logo {
    padding: 0 get($sizes, "6");
    margin: 0 get($sizes, "2");
    display: flex;
    align-items: center;

    &,
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

navbar-list {
    @apply relative items-center flex-nowrap flex;
    margin-right: get($sizes, "2");

    @include screen("sm") {
        font-size: get($sizes, "3");
    }

    @include screen("lt-sm") {
        line-height: theme("spacing.16");
        font-size: get($sizes, "12");
        @apply absolute top-0 left-0 w-full h-screen flex-col justify-center items-center;
    }
}

.navbar-link {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    height: theme("spacing.10");
    @apply px-6 lt-sm:py-8 relative items-center flex-nowrap flex;

    @include screen("lt-sm") {
        line-height: theme("spacing.16");
    }


    &:hover,
    &:focus,
    &.active {
        text-decoration: line-through;
    }
}

nav-link-bar {
    --pos: 0;
    --opacity: 0;
    transition: transform ease 0.5s, opacity ease 0.5s;
    border-radius: get($radii, "full");
    position: absolute;
    width: 40px;
    height: 8px;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(var(--pos), -4px);
    opacity: var(--opacity);

    @include screen("lt-sm") {
        opacity: 0;
        visibility: hidden;
    }
}

.navbar-link,
.navbar-logo {
    &,
    &:hover,
    &:focus {
        color: inherit;
    }
}

.navbar-link,
.navbar-logo,
.navbar-menu {
    line-height: theme("spacing.10");
    cursor: pointer;
    @apply z-50;
}

.navbar-menu {
    background-color: transparent;
    margin-right: get($sizes, "6");
    color: inherit;
    display: none;

    $dot-sz: 10px;
    span,
    &:after {
        transition: transform ease 0.55s;
    }

    &:after {
        content: "";
        display: inline-block;
        width: $dot-sz;
        height: $dot-sz;
        margin-left: get($sizes, "3");
        background-color: currentColor;
        border-radius: get($radii, "full");
        transform: scale(1);
        transform-origin: center center;
    }

    span {
        transform: translateX(0);
        display: inline-block;
    }

    &:hover {
        & span {
            text-decoration: line-through;
            transform: translateX($dot-sz * -0.6);
        }

        &:after {
            transform: scale(1.6);
        }
    }

    @include screen("lt-sm") {
        display: inline-block;
    }
}
