@use "./mixin.scss" as *;

.project-title {
    font-weight: 800;
    text-transform: uppercase;
    @apply lt-xsm:text-2xl text-3xl sm:text-5xl;
    line-height: 2;
    word-break: break-all;
}

.project-description {
    @apply text-lg;
    line-height: 1.5;

    @include screen("sm") {
        @apply text-2xl;
        line-height: 1.75;
    }
}

.project-1 {
    // .project-layout {
    //     $padding-y: get($sizes, "32");
    //     padding: {
    //         top: $padding-y;
    //         bottom: $padding-y;
    //     }
    // }

    // .container {
    //     $padding-x: get($sizes, "10");
    //     padding: {
    //         left: $padding-x;
    //         right: $padding-x;
    //     }
    // }

    @include screen("lt-sm") {
        .project-layout {
            $padding-y: get($sizes, "24");
            padding: {
                top: $padding-y;
                bottom: $padding-y;
            }
        }

        // .container {
        //     $padding-x: get($sizes, "5");
        //     padding: {
        //         left: $padding-x;
        //         right: $padding-x;
        //     }

        //     @supports (padding-top: env(safe-area-inset-left)) {
        //         padding: {
        //             left: calc(#{$padding-x} + env(safe-area-inset-left));
        //             right: calc(#{$padding-x} + env(safe-area-inset-right));
        //         }
        //     }
        // }
    }
}
.project-capsule {
    @apply bg-black relative;
    @apply md:px-10 lt-sm:rounded-xl sm:rounded-3xl;

    $offset: 240px;
    padding-top: $offset;

    @include screen("md") {
        $offset: 280px;
        padding-top: $offset;
    }
}

.project-2 {

    // .container {
    //     @include screen("md") {
    //         $padding-x: get($sizes, "16");
    //         padding: {
    //             left: $padding-x;
    //             right: $padding-x;
    //         }
    //     }
    // }

    // .project-title {
    //     line-height: 1.5;
    //     @apply pb-6 sm:pb-12;
    //     @include screen("lt-sm") {
    //         font-size: get($sizes, "12");
    //     }

    //     @include screen("lt-xsm") {
    //         font-size: get($sizes, "10");
    //     }
    // }

    @include screen("md") {
        border-radius: get($radii, "3xl");
        padding: {
            left: get($sizes, "5");
            right: get($sizes, "5");
        }
    }

    // @include screen("lg") {
    //     .project-title {
    //         font-size: get($sizes, "24");
    //     }
    // }
}


.bg {
    // filter: blur(25px);
    position: fixed;
    // filter: blur(8px);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;

    .img {
        // background-color: $black;
        height: 100vmax;
        width: 100vmax;
        left: 0;
        top: 0;
        z-index: 0;
    }
}

.title-banner {
    position: relative;
    display: block;
    z-index: 10;
}

.banner-tile {
    position: relative;
    display: block;
    @apply mx-0 sm:mx-12 md:mx-16;
    z-index: 10;

    $offset: -240px;
    margin-bottom: $offset;

    @include screen("md") {
        $offset: -280px;
        margin-bottom: $offset;
    }

    tile {
        box-shadow: 0 0 25px 5px rgba(41, 41, 41, 0.2);

        @include screen("md") {
            border-radius: get($radii, "xl");
        }
    }
}

.info-container {
    max-width: get($screens, "lg");
    margin: get($sizes, "12") auto;
    padding: {
        left: get($sizes, "6");
        right: get($sizes, "6");
    }

    @include screen("sm") {
        padding: {
            left: get($sizes, "12");
            right: get($sizes, "12");
        }
    }

    @include screen("md") {
        padding: {
            left: get($sizes, "16");
            right: get($sizes, "16");
        }
    }
}

.prev_and_next {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.prev,
.next {
    display: flex;
    width: 100%;
    @media (min-width: 350px) {
        width: 50%;
    }
    min-width: 100px;
    align-items: center;
}

.prev .image-preview {
    margin-right: get($sizes, "6");
}

.next {
    justify-content: flex-end;
    .image-preview {
        margin-left: get($sizes, "6");
    }
}

.image-preview {
    position: relative;
    display: block;
    $sz: 2.5em;
    width: $sz;
    height: $sz;

    .bg {
        position: relative;
        background-color: $primary;
        min-height: $sz;
        width: 100%;
        height: 100%;
        border-radius: 9999px;
    }

    svg.prev_icon,
    svg.next_icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 70% !important;
        height: 70% !important;
        color: $black;
    }
}
