@use "./mixin.scss" as *;

html {
    @apply font-manrope font-400;
    background-color: $black;
    color: $white;

    text-rendering: optimizeSpeed;
    word-wrap: break-word;
    line-height: 1.15;
    font-weight: 400;
    font-size: 15px;
    -webkit-tap-highlight-color: transparent;

    @media (max-width: 300px) {
        word-break: break-all;
    }
}

a {
    @apply text-primary;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: underline;
        color: darken($primary, 55%);
    }
}

button,
a {
    transition: box-shadow 0.2s ease-out;
    @apply focus-visible:ring-4 focus-visible:ring-primary focus-visible:ring-opacity-90;
    @apply ring-offset-2 ring-offset-black;
    @apply rounded-md focus:outline-none;
}

figure.img {
    background-color: rgb(31, 31, 44);
    min-height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;

    &.h-default {
        height: 400px;
    }

    &-show .img-core {
        opacity: 0.7;
    }

    img {
        position: absolute;
        object-fit: cover;
        object-position: center top;
        left: 0;
        bottom: 0;

        height: 100%;
        width: 100%;
    }

    &.bottom img {
        object-position: center bottom;
    }
}

.img-core {
    transition: opacity ease 0.45s;
    opacity: 0;
}

.img-core,
.no-script-img {
    image-rendering: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
}

a.skip-main {
    transition: border 0.35s ease;
    border: 2px solid $primary;
    color: $black;
    background-color: $primary;
    transform: translateX(-50%);

    @apply absolute top-0 left-0 rounded-lg text-center mt-10 text-lg py-2 w-full;
    @apply transform left-1/2 -translate-x-1/2 opacity-0 pointer-events-none;
    max-width: theme("spacing.96");

    z-index: 500;


    &:focus,
    &:active {
        opacity: 1;
        pointer-events: auto;
    }
}

main {
    position: relative;
    // contain: content;
}

.list {
    list-style: circle;
    display: list-item;

    &-none {
        list-style: none;
    }
}

svg {
    vertical-align: middle;
}

figure.object-center img {
    @apply object-center;
}

tile {
    $tileHeight: get($sizes, "72");
    @apply relative block lt-sm:h-72 sm:h-96;

    a {
        @apply relative block h-full;
    }

    &:not(.interactive) .img-show .img-core {
        opacity: 1;
    }

    &,
    a,
    figure.img {
        overflow: hidden;
        border-radius: get($radii, "lg");
    }

    figure.img {
        transition: transform ease 0.55s;
        transform: scale(1);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &-container {
        height: 100%;
        @apply relative block overflow-hidden;
    }

    &-content {
        transition: transform ease 0.55s;
        position: absolute;
        display: block;
        z-index: 5;
        bottom: 0;
        left: 0;
        padding: get($sizes, "5") get($sizes, "6");
        @include screen("sm") {
            padding: get($sizes, "8") get($sizes, "10");
        }
    }

    $pLineHeight: 2.15rem;
    $pMobileLineHeight: 1.85rem;
    &.interactive &-content {
        @include screen("sm") {
            $textOffset: 2 * $pLineHeight;
            transform: translateY($textOffset);
        }

        $textOffset: 2 * $pMobileLineHeight;
        transform: translateY($textOffset);
        padding: get($sizes, "5") get($sizes, "8");
    }

    h3 {
        @apply font-montserrat;
        text-transform: uppercase;
        font-size: get($sizes, "6");
        line-height: 3;
        word-break: break-all;
        font-weight: 800;

        @include screen("sm") {
            font-size: get($sizes, "8");
        }
    }

    &.interactive {
        font-size: get($sizes, "5");
        @include screen("sm") {
            h3 {
                font-size: get($sizes, "6");
            }
        }
    }

    p {
        transition: opacity ease 0.55s;
        line-height: $pMobileLineHeight;
        font-size: get($sizes, "4.5");

        @include screen("lg") {
            line-height: $pLineHeight;
        }
    }

    &.interactive p {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        opacity: 0;
    }

    &-overlay {
        transition: opacity ease 0.65s;
        background-color: rgba(38, 43, 63, 0.3);

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.interactive &-overlay {
        @supports not (backdrop-filter: blur(5px)) {
            background-color: rgba(38, 43, 63, 0.8);
        }
        backdrop-filter: blur(8px);
        opacity: 0;
    }

    &.interactive:hover figure.img {
        transform: scale(1.5);
    }

    &.interactive:hover &-overlay {
        opacity: 1;
    }

    &.interactive:hover &-content {
        transform: translateY(0);
    }

    &.interactive:hover p {
        opacity: 1;
    }

    @include screen("lt-sm") {
        &.interactive &-content {
            transform: translateY(0);
        }

        &.interactive p {
            opacity: 1;
        }
    }
}

.footer-layout {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;

    @include screen("lt-md") {
        flex-direction: column;
    }
}

#back-to-top {
    transition: box-shadow 0.2s ease-out;
    position: relative;
    // bottom: 0;
    // left: 0;
    display: flex;
    // text-align: center;
    // z-index: 50;
    padding: get($sizes, "3") get($sizes, "4");
    margin: get($sizes, "5") auto;
    border-radius: get($radii, "full");
    align-items: center;
    background-color: $primary;
    color: $black;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;

    &:focus,
    &:hover {
        @apply ring-2 ring-primary;
        @apply ring-offset-2 ring-offset-black;
    }

    .icon,
    span {
        margin-right: get($sizes, "2");
    }
}

#copyright {
    position: relative;
    display: block;
    z-index: 10;
}
