@use "./mixin.scss" as *;
.social-sidebar {
    position: absolute;
    height: 100vh;
    top: 50vh;
    right: 0;
    transform: translateY(-50%);
    z-index: 300;

    &.darken a {
        color: $black;
    }

    .sidebar-group {
        padding-right: get($sizes, "3");
        display: flex;
        flex-direction: column;
    }

    a {
        $space: get($sizes, "2");
        color: $primary;
        margin: {
            top: $space;
            bottom: $space;
        }

        text-align: right;
    }
}
