@use "./mixin.scss" as *;

.text {
    @include colorList;

    @include deviceList {
        @include colorList;
    }
}

.bg {
    @include colorList(background-color);

    @include deviceList {
        @include colorList(background-color);
    }
}

.border {
    $borderStyles: (
        "solid": solid,
        "dotted": dotted,
        "dashed": dashed,
        "double": double,
        "groove": groove,
        "ridge": ridge,
        "inset": inset,
        "outset": outset,
        "hidden": hidden,
        "none": none,
    );

    border: 1px solid rgb(192, 192, 192);

    @for $sz from 0 to 8 {
        &-#{$sz} {
            border-width: #{$sz}px;
        }
    }

    @include colorList(border-color);
    @include propertyList(border-style, $borderStyles);
}

.radius {
    border-radius: 0.25rem;
    @include propertyList(border-radius, $radii);
}
