/* -- Styles (only affect text) -- */
.style {
	$styleParent: &;

	&, &-font {
		@each $name, $family in $fonts {

			&-#{$name},
			&-#{$name}-font,
			&-family-#{$name} {
				font-family: #{$family};
			}
		}

		&,
		&-size {
			font-size: 14px;

			@for $sz from 8 through 50 {
				&-#{$sz} {
					font-size: #{$sz}px;

					@include deviceList(font-size, #{$sz}px);
				}
			}
		}

		@each $name,
		$value in $sizes {

			&-#{$name},
			&-size-#{$name} {
				font-size: $value;

				@include deviceList(font-size, $value);
			}
		}

		&,
		&-weight {
			font-weight: 400;

			@for $weight from 1 through 9 {
				&-#{$weight}00 {
					font-weight: #{$weight + "00"};
				}
			}

			&-bolder {
				font-weight: 900;
			}

			&-bold {
				font-weight: 700;
			}

			&-regular {
				font-weight: 600;
			}

			&-thin {
				font-weight: 300;
			}

			&-thiner {
				font-weight: 100;
			}
		}

		&-italic {
			font-style: italic;
		}

		&-underline {
			text-decoration: underline;
		}
	}

	&-spaceout,
	&-letter-spacing {
		letter-spacing: 3px;

		&-none {
			letter-spacing: 0;
		}

		&-small {
			letter-spacing: 1px;
		}

		&-double {
			letter-spacing: 2px;
		}

		&-large {
			letter-spacing: 7px;
		}
	}

	&-line-height {
		line-height: 1.5em;

		&-none {
			line-height: 0;
		}

		&-small {
			line-height: 1;
		}

		&-double {
			line-height: 2em;
		}

		&-large {
			line-height: 3em;
		}
	}

	&,
	&-align {
		&-left {
			text-align: left;
		}

		&-center {
			text-align: center;
		}

		&-right {
			text-align: right;
		}

		&-justify {
			text-align: justify;
			text-justify: inter-word;
		}
	}

	&,
	&-transform {
		&-capital {
			text-transform: capitalize;
		}

		&-uppercase {
			text-transform: uppercase;
		}

		&-lowercase {
			text-transform: lowercase;
		}
	}

    &-letter-head {
        letter-spacing: 2.54px;
        line-height: 5.42rem;
        font-size: 6.15rem;
        font-weight: 900;
        margin: 0;

        @media #{$screen-size-phone} {
            line-height: 3.80rem;
            font-size: 4.85rem;
        }
    }

	@include colorList;
}