/*! purgecss start ignore */
.transition {
    &-fade {
        transition: opacity .3s ease-out;
        opacity: 1;

        .is-animating & {
            opacity: 0 !important;
        }
    }

    &-in-view {
        transition: opacity .3s ease-out;
        opacity: 1;

        .is-animating & {
            opacity: 0 !important;
        }

        @media #{$screen-size-gt-tablet} {
            transition: opacity .3s ease-out, transform .3s ease-out;
            transform: translate3d(0, 0, 0);

            .is-animating & {
                transform: translateY(40px) !important;
            }

            html.is-animating.is-leaving & {
                transform: translateY(-40px) !important;
            }
        }
    }
}
/*! purgecss end ignore */
