@use "./mixin.scss" as *;

.content {
    @apply text-base;
    line-height: 2;

    @include screen("sm") {
        @apply text-lg;
        line-height: 2;
    }
}

.section-title {
    @apply text-2xl sm:text-3xl font-600;
    line-height: 2;
}

.sub-section-title {
    @apply font-manrope text-xl sm:text-2xl;
    line-height: 1.75;
}