include ./image.pug

mixin hero(value = {})
  - let { content, title, image } = value;

  .layer.layer-hero-id
    article.layout-padding-bottom.layout-padding-dull-top.layout-contain-larger.layout-padding-horz-small
      .layer-hero.header-top-spot
        +image(image)

        .layout-padding-horz-sub-large--device-lt-laptop.layout-padding-vert-sub-extra-large--device-lt-tablet.layout-padding-vert-huge--device-gt-tablet.layout-enlarge-horz.layout-flex.layout-align-items-center.layout-justify-content-center
          .layer-content.layout-contain
            .layer-header
              h1.style-font-title.layer-title.style-white.style-font-weight-bolder(itemprop="headline")= title
            .layer-main
              h2.style-font-family-bold.style-font-weight-300.style-white.layer-main-text(itemprop="description")!= content
            .layout-align-self-end
              button.layer-footer.action-btn.action-btn-hover.layer-shadow--1.layer-round.layout-padding-smallest.layer-secondary.layer-secondary-light-hover.layer-secondary-dark-focus.style-white.style-surface-hover.style-surface-focus.layer-hero-scroll-down(type="button" tabindex="0")
                span.action-btn-group
                  i.action-icon.style-font-size-24(inline) expand_more
                  span.action-btn-section
                    span.action-btn-spacer
                    span.action-btn-content Scroll Down
                    span.action-btn-spacer