mixin p(value = {})
  if typeof value == "string"
    p.layout-padding-vert-small.layout-margin-dull.layout-inline.style-font-15--device-lt-tablet.style-font-17--device-gt-tablet !{value}
      block

  else
    - let { content, type } = value;
    - let _class = value.class || "style-font-15--device-lt-tablet style-font-17--device-gt-tablet";

    p.layout-margin-dull(class=_class) !{content}
      block
