include /components/image.pug

mixin tile(value = {})
  - let { title, content, image } = value;
  - let _class = value.class;

  .layer-tile(class=_class)
    if image
      +image(image)

    .layer-tile-footer
      if title
        .layer-tile-title= title

      if content
        span.layer-tile-content.style-font-12= content
