<!-- contact.njk -->
{% extends "base.njk" %}

{% block content %}
    <section class="page-contact" data-barba="container" data-barba-namespace="contact" title="Let's talk.">
        <!-- layer -->
        <section class="layer layer-intro layer-black layer-max-height scroll-snap">
            <article class="layout-contain-large layer-overflow-hide">
                <section class="layout layout-flex layer-max-height layout-align-items-center layout-justify-content-center ">
                    <section>
                        <h1 class="style-yellow style-bolder layer-title style-center style-capital"> Contact. </h1>
    
                        <!-- social-sidebar -->
                        <section class="social-sidebar">
                            <ul class="list-none layout-flex layout-flex-center layout-flex-row">
                                {% for link in social_links %}
                                    <li title="{{ link.name[0] }}"><a href="{{ link.href }}">{{ link.name[1] }}</a></li>
                                {% endfor %}
                            </ul>
                        </section>
                        <!-- /social-sidebar -->
                    </section>
                </section>
            </article>
        </section>
        <!-- /layer -->
    </section>
{% endblock %}