<!-- projects.njk -->
{% extends "base.njk" %}

{% block content %}
    <section class="page-project-list" data-barba="container" data-barba-namespace="project-list" title="Projects">
        <!-- layer -->
        <section class="layer layer-intro layer-yellow scroll-snap bright-layer">
            <article class="layout-contain-large layer-overflow-hide layout-padding-vert-top-large">
                <section class="layout layout-flex layout-align-items-center layout-justify-content-center layout-margin-vert-top-large">
                    <h1 class="style-black style-bold layer-title">
                        <span class="style-black style-bolder style-center style-uppercase">Projects</span>.
                    </h1>
                </section>
            </article>
        </section>
        <!-- /layer -->
        
        <!-- Adds the blur partial -->
        {% include "../components/blur.njk" %}

        <!-- layer -->
        <section class="layer layer-black scroll-snap">
            <article class="layout-contain layout-contain-large">
                <section class="layout-shorten-horz layer-projects">
                    <section class="layout-row">
                        {% for project in projects %}
                            <section class="layout-col-4 layer-image layer-tile layout-padding-vert-bottom">
                                <a href="/project/{{ loop.index0 }}" class="layout-block"> 
                                    <section class="layout-image-contain">
                                        <load-img src="{{ project.img.src }}" alt="{{ project.img.alt }}"></load-img>
                                        <section class="layer-content style-yellow">
                                            <h5 class="style-uppercase style-bolder">{{ project.name }}</h5>
                                            <p class="layer-details">{{ project.detail }}</p>
                                        </section>
                                    </section>
                                </a>
                            </section>
                        {% endfor %}
                    </section>
                </section>
            </article>
        </section>
        <!-- /layer -->
        
        <!-- layer -->
        <section class="layer layout-padding-vert-bottom-large layer-black scroll-snap">
            <!-- Adds the back-to-top partial -->
            {% include "../components/back-to-top.njk" %}
        </section>
        <!-- /layer -->
        
        <!-- Adds the social-sidebar partial -->
        {% include "../components/social-sidebar.njk" %}
    </section>
{% endblock %}