<!-- back-to-top.njk -->

<!-- layer -->
<section class="layer scroll-snap">
    <article class="layout-contain layer-overflow-hide">
        <section class="layout-padding-vert-bottom layout-flex layout-align-items-center layout-justify-content-end">
            <a class="btn btn-round layer-yellow scroll-btn top-layer style-black">
                <span class="btn-text style-regular style-uppercase style-spaceout-small style-black">Go to the Top</span>
            </a>
        </section>
    </article>
</section>
<!-- /layer -->
