<!-- footer.njk -->

<!-- copyright-bar -->
<footer class="copyright-bar">
    <article class="layout-contain">
        <section class="layout-spacer">
            <ul class="navbar-list link-foot">
                <li class="navbar-link link-foot style-uppercase style-yellow">
                    <a>©2019 Okiki Ojo</a>
                </li>
            </ul>
        </section>
    </article>
</footer>
<!-- /copyright-bar -->
