<!-- social-sidebar.njk -->

<!-- social-sidebar -->
<section class="social-sidebar perspec-sidebar style-white layout-flex">
    <article class="layout-flex layout-flex-center">
        <ul class="list-none">
            <li title="Twitter"><a href="https://twitter.com/okikio_dev">Tw</a></li>
            <li title="Instagram"><a href="https://www.instagram.com/okikio.dev/">In</a></li>
            <li title="Github"><a href="https://github.com/okikio">Git</a></li>
            <li title="LinkedIn"><a href="https://www.linkedin.com/in/okiki-o-a5287213b">Lk</a></li>
            <li title="Mail"><a href="mailto:okikio.dev@gmail.com">@</a></li>
        </ul>
    </article>
</section>
<!-- /social-sidebar -->
