extends ../app.pug
include ../components/sections.pug
include ../components/layout.pug
include ../components/footer.pug
include ../components/layer.pug
include ../components/text.pug
include ../components/link.pug

block pageInfo
	-
		let page = {
			url: "/404",
			name: "404",
			title: "Ooops!",
			description: "Sorry, the page you are looking for doesn't exist. How about going back home."
		};

block content
	//- Intro layer
	+layer({
		class: "layout-padding-horz"
	})
		+layout({
			class: "layout-contain-small layout-vert-centered-box"
		})
			section
				+head
					h1.h4.style-font-30--device-phone.style-primary-dark.style-bold.style-center 404, Page Not Found.
				+main({
					class: "style-center",
				})
					+p("Sorry, the page you are looking for doesn't exist. How about going back")
					+link({
						href: "/",
						class: "style-italic style-underline layout-margin-left-mini",
						content: "home"
					})
					+p(".")

block footer
	+footer({
		class: "footer-stuck layout-margin-vert-top"
	})
