extends ../app.pug
include ../components/sections.pug
include ../components/layout.pug
include ../components/footer.pug
include ../components/layer.pug
include ../components/text.pug

block pageInfo
	-
		let page = {
			url: "/contact-me",
			name: "contact-me",
			title: "Let's talk. I'm ready to create something awesome, are you?",
			description: "Do you have a project that requires passion and dedication, then let's talk. Let's create something extrodinary."
		};

block content
	//- Intro layer
	+layer({
		class: "layout-padding-horz"
	})
		+layout({
			class: "layout-contain-small layout-vert-centered-box"
		})
			section
				+head
					h1.style-font-30--device-phone.style-primary-dark.style-bold.style-uppercase Say Hello
				+main
					span(itemprop='author') Hey, I am Joseph Ojo, the man, the myth, the legend, let's talk.
					span.layout-margin-vert-bottom(itemprop='description')
						p.layout-inline.layout-margin-dull(lorem="1")
						span(itemtype='https://schema.org/EducationalOrganization' itemprop="alumniOf")
							|  I am an alumni of OnTech - Ontario Tech University
					section(itemtype='https://schema.org/Person')
						+p("You can find me at:")
						ul
							li
								+link({
									href: "https://www.linkedin.com/in/o-josephojo/",
									content: "LinkedIn"
								})(target="_blank" rel="noreferrer")
							li
								+link({
									href: "https://github.com/laoluojo",
									content: "Github"
								})(target="_blank" rel="noreferrer")
							li(itemprop="email")
								+link({
									href: "mailto:laoluojo@gmail.com",
									content: "Email"
								})(target="_blank" rel="noreferrer")

block footer
	+footer({
		class: "footer-stuck layout-margin-vert-top"
	})
