extends ../app.pug
include ../components/sections.pug
include ../components/layout.pug
include ../components/column.pug
include ../components/layer.pug
include ../components/text.pug
include ../components/tile.pug
include ../components/hero.pug
include ../components/row.pug

block content
	//- Hero layer
	+hero({
		title: "Joseph, the one who could.",
		content: "Crafting the extrodinary is my passion.",
		image: {
			class: "effect-parallax hero-img",
			src: "/assets/closeup-stones",
			alt: "A city Image"
		}
	})

	//- Intro layer
	+layer({
		class: "layout-padding-horz layout-padding-vert-top-default--device-phone"
	})
		+layout({
			class: "layout-shorten layout-contain"
		})
			+head("About me")
			+main({
					class: "layout-padding-top-large"
			})
				+row
					//- 1st Column
					+column({
						class: "layout-col-2 layout-padding-bottom-small"
					})
						+p({
							content: "03/03",
							class: "style-font-17--device-phone style-font-20 style-bold"
						})

					//- 2nd Column
					+column({
						class: "layout-col-3 layout-padding-bottom"
					})
						+p({
							content: "2018",
							class: "layout-block style-font-17--device-phone style-font-20 style-bold"
						})
						+p({
							content: "E-commerse",
							class: "layout-block style-font-16--device-phone style-font-18"
						})
						+p({
							content: "Design Executive",
							class: "layout-block style-font-16--device-phone style-font-18"
						})

					//- 3rd Column
					+column({
						class: "layout-col-7"
					})
						p.layout-margin-dull(lorem="1")

				section.layout-padding-vert-large
					//- span.layout-margin-horz-left.layout-inline-block= " "
					+p("One of my life goals is to leave everything I come in contact with better than I found it. This obviously can be difficult, but a couple of the ways I am trying to achieve this is to seize every opportunity and learn from previous mistakes... For more info")
					+link({
						href: "/about-me",
						class: "layout-margin-vert-dull layout-margin-left-mini",
						content: "click here."
					})

	//- Banner layer
	+layer({
		class: "layer-color-primary"
	})
		+layout({
			class: "layout-contain-large layout"
		})
			+head({
					class: "style-center"
			})
				h3.layout-padding-vert.style-bold-font.style-600.style-color-white.style-font-40--device-lt-tablet.style-font-size-larger--device-gt-phone Projects
					span.style-color-tertiary-dark .

	//- Breakthrough layer
	+layer
		+layout({
			class: "layout-contain-large layout-padding-large"
		})
			+main({
					class: "layout-padding-vert"
			})
				+row
					//- 1st Column
					+column({
						class: "layout-col-6 layout-padding-bottom-small layout-padding-right-large"
					})
						+p({
							content: "Breakthrough<br>Limits!",
							class: "style-color-primary style-bold-font style-600 style-font-30 style-line-height"
						})

					//- 2nd Column
					+column({
						class: "layout-col-6"
					})
						p.layout-block.layout-margin-dull(lorem="1")

	//- Image Column layer
	+layer
		+layout({
			class: "layout-contain-large"
		})
			+main({
					class: "layout-shorten-vert"
			})
				//- 1st Row
				+row({
					class: "layout-margin-dull"
				})
					//- Empty alignment Column
					+column({
						class: "layout-col-3 layout-block"
					})

					//- 1st Column
					+column({
						class: "layout-col-9 layout-padding-small"
					})
						+link({
							href: "/about-me",
							class: "layout-block"
						}, true)
							+tile({
								title: "Google Designs About",
								class: "layer-box layer-surface layout-block",
								image: {
									class: "effect-parallax",
									src: "/assets/city",
									alt: "City Alt",
								}
							})

				//- 2nd Row
				+row({
					class: "layout-margin-dull"
				})
					//- 1st Column
					+column({
						class: "layout-col-9 layout-padding-small layout-padding-vert-large"
					})
						+link({
							href: "/my-projects",
							class: "layout-block"
						}, true)
							+tile({
								title: "Google Designs Project",
								class: "layer-box layer-surface layout-block",
								image: {
									src: "/assets/blue-sky",
									alt: "Blue sky Alt",
								}
							})

					//- Empty alignment Column
					+column({
						class: "layout-col-3"
					})
