extends ../app.pug
include ../components/sections.pug
include ../components/layout.pug
include ../components/banner.pug
include ../components/layer.pug
include ../components/text.pug

block pageInfo
	-
		let page = {
			url: "/my-projects",
			name: "my-projects",
			title: "A showcase of some of the projects I have taken on.",
			description: "A potfolio of projects I have completed, and even some that are still on-going..."
		};

block content
	//- Banner layer
	+banner({
		title: "A showcase of my projects.",
		content: "A potfolio of projects I have completed, and even some that are still on-going.",
		image: {
			class: "effect-parallax hero-img",
			src: "/assets/blue-sky",
			alt: "A city Image"
		}
	})

	//- Intro layer
	+layer({
		class: "layout-padding-horz"
	})
		+layout({
			class: "layout-shorten layout-contain"
		})
			+head("My projects")
			+main({
				class: "layout-padding-vert-small"
			})
				+p(" ")
					span.layout-margin-horz-left-large.layout-inline-block= " "
					span.layout-inline.layout-margin-dull As a mechatronics engineer I am adept at electrical, mechanical, and robotics, this allows me to take on a variety of projects, some more electrical, some robotic, etc...
					p.layout-inline.layout-margin-dull(lorem="3")
					+link({
						href: "/",
						class: "layout-margin-horz-left-mini",
						content: "Click here"
					})

	//- Next page layer
	+layer({
		class: "layout-padding-horz layer-dark"
	})
		+layout({
			class: "layout-contain layout-padding-horz layout-padding-top"
		})
			section.layout-shorten
				+head
					h3.style-center.style-white.style-font-light.style-font-thin.style-spaceout.style-font-default--device-gt-tablet.style-font-20 Next
				+main({
					class: "style-center"
				})
					h2.style-bold.style-tertiary.style-500.style-font-large--device-gt-tablet.style-font-62 NASA
			.layer-box.layer-box-flat.layer-tertiary-dark.layer-shadow--1.layout-margin-vert-top-larger.layout-block
