extends ../app.pug
include ../components/sections.pug
include ../components/layout.pug
include ../components/footer.pug
include ../components/layer.pug
include ../components/text.pug

block pageInfo
	-
		let page = {
			url: "/my-resume",
			name: "my-resume",
			title: "My professional resume, have a look.",
			description: "The resume of Joseph Ojo, a collection of all the professional work accomplished by Joseph Ojo."
		};

block content
	//- Intro layer
	+layer({
		class: "layout-padding-horz"
	})
		+layout({
			class: "layout-contain-small layout-vert-centered-box"
		})
			section
				+head
					h1.style-font-30--device-phone.style-primary-dark.style-bold.style-uppercase My resume.
				+main
					span(itemprop='author') Hey, I am Joseph Ojo, and this is my resume.
					span.layout-margin-vert-bottom(itemprop='description')
						p.layout-inline.layout-margin-dull(lorem="2")

block footer
	+footer({
		class: "footer-stuck layout-margin-vert-top"
	})
