@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend-VariableFont_wght.woff2') format('woff2');
	font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope-VariableFont_wght.woff2') format('woff2');
	font-weight: 400 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lexend Deca-fallback";
    size-adjust: 110.07000000000009%;
    ascent-override: 92%;
    src: local("Arial");
}
@font-face {
    font-family: "Manrope-fallback";
    size-adjust: 102.91000000000001%;
    ascent-override: 110%;
    src: local("Arial");
}


// /* lexend-300 - latin-ext_latin */
// @font-face {
//     font-family: "Lexend";
//     font-style: normal;
//     font-weight: 300;
//     font-display: swap;
//     src: local(""),
//         url("/fonts/lexend-v14-latin-ext_latin-300.woff2") format("woff2"),
//         /* Chrome 26+, Opera 23+, Firefox 39+ */
//             url("/fonts/lexend-v14-latin-ext_latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }
// /* lexend-500 - latin-ext_latin */
// @font-face {
//     font-family: "Lexend";
//     font-style: normal;
//     font-weight: 500;
//     font-display: swap;
//     src: local(""),
//         url("/fonts/lexend-v14-latin-ext_latin-500.woff2") format("woff2"),
//         /* Chrome 26+, Opera 23+, Firefox 39+ */
//             url("/fonts/lexend-v14-latin-ext_latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }
// /* lexend-600 - latin-ext_latin */
// @font-face {
//     font-family: "Lexend";
//     font-style: normal;
//     font-weight: 600;
//     font-display: swap;
//     src: local(""),
//         url("/fonts/lexend-v14-latin-ext_latin-600.woff2") format("woff2"),
//         /* Chrome 26+, Opera 23+, Firefox 39+ */
//             url("/fonts/lexend-v14-latin-ext_latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }
// /* lexend-700 - latin-ext_latin */
// @font-face {
//     font-family: "Lexend";
//     font-style: normal;
//     font-weight: 700;
//     font-display: swap;
//     src: local(""),
//         url("/fonts/lexend-v14-latin-ext_latin-700.woff2") format("woff2"),
//         /* Chrome 26+, Opera 23+, Firefox 39+ */
//             url("/fonts/lexend-v14-latin-ext_latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }
// /* lexend-900 - latin-ext_latin */
// @font-face {
//     font-family: "Lexend";
//     font-style: normal;
//     font-weight: 900;
//     font-display: swap;
//     src: local(""),
//         url("/fonts/lexend-v14-latin-ext_latin-900.woff2") format("woff2"),
//         /* Chrome 26+, Opera 23+, Firefox 39+ */
//             url("/fonts/lexend-v14-latin-ext_latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

// /* manrope-500 - latin-ext_latin */
// @font-face {
//     font-family: "Manrope";
//     font-style: normal;
//     font-weight: 500;
//     font-display: swap;
//     src: local(""),
//         url("/fonts/manrope-v11-latin-ext_latin-500.woff2") format("woff2"),
//         /* Chrome 26+, Opera 23+, Firefox 39+ */
//             url("/fonts/manrope-v11-latin-ext_latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }
// /* manrope-700 - latin-ext_latin */
// @font-face {
//     font-family: "Manrope";
//     font-style: normal;
//     font-weight: 700;
//     font-display: swap;
//     src: local(""),
//         url("/fonts/manrope-v11-latin-ext_latin-700.woff2") format("woff2"),
//         /* Chrome 26+, Opera 23+, Firefox 39+ */
//             url("/fonts/manrope-v11-latin-ext_latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }
