mixin back-to-top()
  button.back-to-top.hide-no-script.z-10.mr-5.bg-secondary.border-2.border-solid.border-secondary.text-black.rounded-full.flex.w-14.h-14.text-2xl.no-tap-highlight(class="hover:bg-darker-highlight active:bg-darker-highlight focus:outline-none" type="button", title="Back To Top")
    i.icon.w-full.justify-center.self-center
      +icon("keyboard_capslock")
