mixin card(val)
  -
    let title = val.title;
    let description = val.description;
    let image = val.image;

  tile&attributes(attributes)
    +image(image.src, image.alt).h-default
    tile-overlay

    tile-container
      tile-content
        h3= title
        p= description