-
  let links = [
    {
      href: "/#about",
      content: "About",
      path: "/(#)?about"
    },
    {
      href: "/#projects",
      content: "Projects",
      path: "/(#)?project(s)?"
    },
    {
      href: "/#contact",
      content: "Contact"
    }
  ];

mixin navbarLinks(page)
  each val, i in links
    - let active = new RegExp(val.path || val.href, "i").test(page.url);
    +link(val.href)(class=`navbar-link` data-path=val.path class={ active })= val.content

mixin navbar(page)
  nav(role="navigation")
    nav-cover(type="small")
    nav-cover(type="large")
    navbar
      +link("/").navbar-logo(aria-label="Okiki Ojo's portfolio site logo")
        +icon("logo")

      .flex-spacer
      navbar-list(type="mobile")
        +navbarLinks(page)

      navbar-list(type="desktop")
        +navbarLinks(page)

      button.navbar-menu(type="button" aria-label="Navigation bar button" title="Menu")
        span Menu
    nav-link-bar