mixin prev_and_next(prev, next)
  .prev_and_next
    if prev
      +link(prev.url)(class="prev" title=prev.title)
        .image-preview
          +icon("navigate_before").prev_icon
          .bg
        span Previous
    .flex-spacer
    if next
      +link(next.url)(class="next text-right" title=next.title)
        span Next
        .image-preview
          +icon("navigate_next").next_icon
          .bg