mixin tileContent(val)
  -
    let title = val.title;
    let description = val.description;
    let image = val.image;
    let noOverlay = val.noOverlay;

  +image(image.src, image.alt).h-default.object-center

  if !noOverlay
    tile-overlay

  tile-container
    tile-content
      h3= title
      p= description

mixin tile(val)
  -
    let url = val.url;
    let interactive = val.interactive;

  tile(class={ interactive })&attributes(attributes)
    if interactive
      +link(url)(class={ interactive })
        +tileContent(val)
    else 
      +tileContent(val)
