extends /layouts/layout.pug

block pageInfo
  - 
    page = {
      url: "/404",
      name: "404",
      title: "Ooops!",
      description: "Sorry, the page you are looking for doesn't exist. How about going back home."
    };

block hero
  banner.bg-primary.text-black(data-layer="bright" initial-nav-color="dark")
    .layout.max-w-lg.h-screen.pt-24.px-10
      section.flex.flex-col.h-full
        .flex-spacer.flex.items-center
          div
            h1.text-uppercase Missing Page. 
            h2
              | Yikes, it seems you have run into a 404 page and are lost, would you like to 
              +link("/").return-home return home.
        footer.pt-24.relative
          .absolute.bottom-0.left-0.text-center
            +copyright

block content
block footer