extends /layouts/layout.pug

block pageInfo
  - 
    page = {
      url: "/404",
      name: "404",
      title: "Ooops!",
      description: "Sorry, the page you are looking for doesn't exist. How about going back home."
    };

block hero
  .layer-primary.layer
    .layout.max-w-lg.h-screen.pt-24.px-10
      section.flex.flex-col.h-full
        .flex-spacer
        section.self-center
          h1.scroll-pt.h1.title.text-uppercase 404 Page. 
          h2.sub-title 
            | Oops, it seems you are lost would you like to 
            +link("/") return home.
        .flex-spacer
        footer.pt-24
          +copyright

block content
block footer