extends /layouts/layout.pug

block hero
  banner.container-lg(data-layer="bright" initial-nav-color="bright")
    .w-full.h-screen.flex.flex-col.items-center
      .flex-spacer.w-full.flex.items-center
        .content
          h1 Hello, I'm 
            span.inline-block.text-primary Okiki.
          h2 Student - Developer - Innovator
        .image
          +image("cloudinary/e_art:audrey/okikio/okiki-ojo")
      .scroll-btn
        section
          .scroll-text scroll
          button.scroll-icon
            .scroll-outline
            +icon("arrow_downward")


block content
  .content
    #about
    .layout.max-w-lg
      h3.h4.text-bold.text-primary About
      p Hey, I am Okiki Ojo (pronounced O-ke-ke O-jo), I'm a student currently studying Software Engineering at Ontario Tech University (formerly University of Ontario Institute of Technology, UOIT). I have a passion for design and development, I like to create things that don't only look good but that also function on multiple devices. I am always eager to take on a challenge. I develop websites that are functional, efficient and that act as an excellent representation of a person or business on the digital landscape. I have a 4+ years of experience designing sites, I would love to bring your digital vision to reality.

      h4.h5.text-bold.mt-16 Skills
      p I have experience in Javascript, Typescript, CSS/Sass/SCSS, HTML, Pug, Node.js, Fastify, Pjax, C#, C++, and more... I prefer to learn skills as I need them, so I can focus on finding solutions to problems instead of trying to implement new technologies for the sake of implementing them.

      h4.h5.text-bold.mt-16 Method
      p When developing sites I first aim to understand the needs and goals of the project, I then determine the best approach to build a site. There are four parts to my method, speed, efficiency, ease-of-use, and impact.

    .layout.max-w-lg.layer-bg-gray.pb-0
      .grid-4
        -
          let cols = [
            ["offline_bolt", "Speed", "How quickly the client wants their website, and accordingly what tools will ensure high levels of speed."],
            ["waves", "Efficiency", "Making sure not to waste resources, time, and/or effort, so users can get the most out of the final product."],
            ["gavel", "Ease-of-use", "The site needs to be easy to use, easy enough users can navigate the site with ease."],
            ["history", "Impact", "As the representation of you or your business online, the site should leave an impact that causes users to visit multiple times."],
          ];

        each val in cols
          div
            .icon-outline
              +icon(val[0])
            h3.text-bold.text-5.my-5= val[1]
            p.description= val[2]

    #projects
    .layout.max-w-xl
      .max-w-lg.m-auto
        h3.h4.text-bold.text-primary Projects
        p Here are some of the projects I have completed thus far:

      .grid-6
        each val in self.projects
          +tile(Object.assign({ interactive: true }, val))

    .layout.max-w-xl.text-center#contact
      h3.h3.text-bold.text-primary Contact

      .py-12.line-height-huge
        -
          let contact = [
            ["https://www.linkedin.com/in/okikio", "LinkedIn"],
            ["https://twitter.com/okikio_dev", "Twitter"],
            ["https://github.com/okikio", "Github"],
            ["https://codepen.io/okikio", "Codepen"],
            ["https://dev.to/okikio", "Dev.to"],
            ["https://stackoverflow.com/users/12140185/okikio?tab=profile", "Stackoverflow"],
            ["mailto:hey@okikio.dev", "Email"]
          ];

        each info in contact
          -
            let href = info[0];
            let content = info[1];
          +link(href).mx-5(target="_blank" rel="noopener")= content
