extends /layouts/layout.pug

block pageInfo
  -
    let page = {
      url: "/projects",
      name: "projects",
      title: "My projects — okikio",
      description: "The complete list of all the services we offer, ranging from SMS Manual Preparation And Review to Pre-Purchase Survey."
    };

block hero
  p A list of Projects
