---
import Anchor from "./Anchor.astro";
import Image from "./Image.astro";

const { href, img = {}, external } = Astro.props;
---

<div class="card">
  <Anchor {href} {external}>
    {!img.blank && (<Image {...img} />) || (<div class="w-[450px] h-[350px] bg-primary/20" {...img} />)}
    <div class="card-overlay">
      <div class="overlay-blur"></div>
    </div>
    <div class="card-content">
      <slot />
    </div>
  </Anchor>
</div>

<style lang="scss">
  .card {
    @apply transition-shadow duration-300;
    @apply focus-within:ring-2 hover:ring-2 ring-white ring-offset-4 ring-offset-black;

    &,
    a {
      @apply block relative;
      @apply overflow-hidden rounded-lg;
    }

    a {
      &:hover, &:focus {
        :global(p) {
          @apply text-primary;
        }
      } 

      &:active {
        @apply scale-100;
      }
    }

    &-overlay {
      @apply absolute inset-0 bg-black/20;

      .overlay-blur {
        @apply transition-opacity duration-300;
        @apply absolute inset-0 bg-black/20 backdrop-blur-lg;
        @apply opacity-0;
      }
    }

    &:hover .overlay-blur {
      @apply opacity-100;
    }

    & :global(figure) {
      @apply my-0;
    }

    &-content {
      @apply absolute bottom-0 left-0 z-10;
      @apply p-6;

      :global(p) {
        @apply my-0;
      }
    }
  }

  .card :global(.card-title) {
    text-decoration: 2px solid underline;
    text-decoration-color: transparent;
  }

  .card a:hover :global(.card-title) {
    text-decoration-color: theme("colors.primary");
    text-decoration-style: wavy;
  }
</style>
