---
import { Icon } from 'astro-icon/components';
import Anchor from "./Anchor.astro";
---

<footer
  slot="footer"
  class="px-4 flex flex-col items-center gap-4 py-5 text-center"
>
  <Anchor href="#index" id="back-to-top">
    <div class="flex items-center gap-2">
      <Icon name="fluent:arrow-up-24-filled" />
      Back To Top
    </div>
  </Anchor>
  <span>© {new Date().getFullYear()} Okiki Ojo. All rights reserved. </span>
  <span><Anchor href="/privacy">Privacy Policy</Anchor>{" & "}<Anchor href="/terms">Terms of Service</Anchor>{" & "}<Anchor href="/rss.xml" external>RSS</Anchor></span>
</footer>


<style>
  @reference "../styles/global.css";
  #back-to-top {
    @apply inline-block;
    @apply hover:ring-2 ring-primary ring-offset-2 ring-offset-black;
    @apply bg-primary rounded-full pl-5 pr-6 py-2;
    @apply text-black text-base font-bold hover:text-black;

    [data-icon] {
      @apply w-5 h-5;
    }
  }
</style>
