extends /app.pug

block pageInfo
  -
    let page = {
      websiteURL,
      url: "/about-me",
      name: "about-me",
      title: "About me — The story of Okiki Ojo.",
      description: "What drove me to become a Web Developer and why? I explore my life story, as well as my passion for engineering."
    };

block hero
  //- Hero layer
  +hero({
    title: "About me — The story of Okiki Ojo, web developer extrodinare.",
    content: "What drove me to become a Web Developer and why?",
    image: {
      src: "cloudinary/assorted-color-flowers",
      alt: "An image of an assortment of flower of different colors, shapes and size; beautiful red, cream, white, and pink shades of flowers. By @pcristina18 on Unsplash."
    }
  })


block content
  //- Intro layer
  +layer({
    class: "layout-padding-horz-default--device-gt-tablet layout-padding-vert-top-default--device-phone"
  })
    +layout({
      class: "layout-shorten layout-contain"
    })
      +head("The story of Okiki Ojo.")
      +main({
        class: "layout-padding-top layout-padding-bottom-large layout-clearfix"
      })
        section(itemscope itemtype="https://schema.org/SiteNavigationElement")
          //- span.layout-margin-horz-left.layout-inline-block= " "
          span.style-font-title.style-letter-head.layout-padding-right-nano.layout-inline-block.layout-left O
          +p("ne of my life goals is to leave everything I come in contact with better than I found it. ")
          +link({
            href: "/my-resume",
            class: "layout-margin-vert-dull layout-margin-left-mini"
          })(data-swup-preload itemprop="url")
            span(itemprop="name") my resume.
