extends /app.pug

block hero
  //- Hero layer
  +hero({
    title: "Okiki Ojo — Curious & Driven",
    content: "Crafting the extraordinary is my passion, and my inspiration.",
    image: {
      class: "effect-parallax hero-img",
      src: "cloudinary/grand-canyon",
      alt: "An image looking up from inside the Grand Canyon from Unsplash by @sammiamigo."
    }
  })


block content
  //- Intro layer
  +layer({
    class: "layout-padding-horz-default--device-gt-tablet layout-padding-vert-top-default--device-phone"
  })
    +layout({
      class: "layout-shorten layout-contain"
    })
      +head("About me.")
      +main
        section.layout-padding-top.layout-padding-bottom-large.layout-clearfix
          //- span.layout-margin-horz-left.layout-inline-block= " "
          span.style-font-title.style-letter-head.layout-padding-right-nano.layout-inline-block.layout-left O
          +p("ne of my life goals is to leave everything I come in contact with better than I found it. This obviously can be difficult, but a couple of the ways I am trying to achieve this is to seize every opportunity and learn from previous mistakes... As a child I was curious, and my parents let my curiousity bloom. In high school I discovered a passion for engineering specifically the engineering of robots (which I later found out to be <strong>Mechatronics</strong>). <br> <br> I am Tenacious & Astute I aim to create only the best, I stop at nothing till the image I have in my mind has been captured in the project. I make sure that in all acts I commit too, I am ready to follow through even if the going gets difficult. I make sure to think things through thoroughly so as to avoid inefficienies. The definition of Astute by the Oxford dictionary is, ​very clever and quick at seeing what to do in a particular situation, especially how to get an advantage. I believe I enbody these traits when working on projects and I would love the oppertunity to show you. <br> <br> I created my portfolio site as a place to display some of the projects I have worked on, and as an easy source to access my resume. For more information")
          +link({
            href: "/about-me",
            class: "layout-margin-vert-dull layout-margin-left-mini",
            content: "learn more about me."
          })


  //- Static Banner layer
  +layer({
    class: "layer-color-primary"
  })
    +layout({
      class: "layout-contain-large layout"
    })
      +head({
          class: "style-center"
      })
        h3.h3.layout-padding-vert.style-bold-font.style-600.style-color-white.style-font-40--device-lt-tablet.style-font-size-larger--device-gt-phone My projects
          span.style-color-tertiary-dark .

  //- Breakthrough layer
  +layer
    +layout({
      class: "layout-contain-large layout-padding-vert-large layout-padding-horz-large--device-gt-tablet layout-padding-horz-default--device-lt-tablet"
    })
      +main({
          class: "layout-padding-vert"
      })
        +row
          //- 1st Column
          +column({
            class: "layout-col-6 layout-padding-bottom-small layout-padding-right-large--device-gt-tablet"
          })
            +p({
              content: "Breakthrough<br>Limits!",
              class: "style-color-primary-dark style-bold-font style-600 style-font-30 style-line-height"
            })

          //- 2nd Column
          +column({
            class: "layout-col-6"
          })
            p.layout-block.layout-margin-dull(lorem="1")


        div.layer-center-line

        +row({
          class: "layout-margin"
        })
          //- 1st Column
          +column({
            class: "layout-col-2 layout-padding-horz-dull layout-padding-bottom-small"
          })
            +p({
              content: "03/03",
              class: "style-font-17--device-lt-tablet style-font-20 style-bold"
            })

          //- 2nd Column
          +column({
            class: "layout-col-3 layout-padding-horz-dull layout-padding-bottom"
          })
            +p({
              content: "2018",
              class: "layout-block style-font-16--device-lt-tablet style-font-18--device-gt-tablet style-600  layout-padding-bottom-smaller"
            })
            +p({
              content: "E-commerse",
              class: "layout-block style-font-15--device-lt-tablet style-font-17--device-gt-tablet"
            })
            +p({
              content: "Design Executive",
              class: "layout-block style-font-15--device-lt-tablet style-font-17--device-gt-tablet"
            })

          //- 3rd Column
          +column({
            class: "layout-col-7 layout-padding-horz-dull"
          })
            p.layout-margin-dull(lorem="1")


  //- Image Column layer
  +layer
    +layout({
      class: "layout-contain-large"
    })
        +main({
            class: "layout-shorten-vert"
        })
          //- 1st Row
          +row({
            class: "layout-margin-dull"
          })
            //- Empty alignment Column
            +column({
              class: "layout-col-3 layout-block"
            })

            //- 1st Column
            +column({
              class: "layout-col-9 layout-padding-small"
            })
              +link({
                href: "/projects/google-designs",
                class: "layout-block"
              }, true)(title="The link to the Google Design project page.")
                +tile({
                  title: "Google Design",
                  class: "layer-box layer-surface layout-block layer-tile-outline",
                  image: {
                    class: "effect-parallax",
                    src: "cloudinary/engineer-piping",
                    alt: "An image of large pipes for a Power Plant from Unsplash.",
                  }
                })

          //- 2nd Row
          +row({
            class: "layout-margin-dull"
          })
            //- 1st Column
            +column({
              class: "layout-col-9 layout-padding-small layout-padding-vert-large"
            })
              +link({
                href: "/projects/nasa",
                class: "layout-block"
              }, true)(title="The link to the Nasa project page.")
                +tile({
                  title: "Nasa",
                  class: "layer-box layer-surface layout-block layer-tile-outline",
                  image: {
                    class: "effect-parallax",
                    src: "cloudinary/aerial-photo-of-brown-mountains",
                    alt: "An aerial photo of brown mountains by JOHN TOWNER @heytowner on Unsplash.",
                  }
                })

            //- Empty alignment Column
            +column({
              class: "layout-col-3"
            })

          div.layout-block.style-center
            +link({
              href: "/my-projects",
              class: "style-font-weight-bold style-font-30 style-font-title layout-padding layout-padding-horz-large layout-margin-top-larger",
              content: "More..."
            })