extends /app.pug

block pageInfo
  -
    let page = {
      websiteURL,
      url: "/my-projects",
      name: "my-projects",
      title: "My projects — A showcase of some of my portfolio of projects I have taken on.",
      description: "A potfolio of projects I have completed, and even some that are still on-going..."
    };

block hero
  //- Banner layer
  +banner({
    title: "My projects — A showcase of wonders.",
    content: "A potfolio of projects I have completed, and even some that are still on-going.",
    image: {
      class: "effect-parallax hero-img",
      src: "cloudinary/cloud-illustration",
      alt: "An image of large clouds in a blue sky by Gong TY @deathclutch108 on Unsplash"
    }
  })


block content
  //- Intro layer
  +layer({
    class: "layout-padding-horz-default--device-gt-tablet"
  })
    +layout({
      class: "layout-shorten layout-contain"
    })
      +head("A porfolio of projects.")
      +main({
        class: "layout-padding-vert-small layout-clearfix"
      })
        +p
          //- span.layout-margin-horz-left.layout-inline-block= " "
          span.style-font-title.style-letter-head.layout-padding-right-nano.layout-inline-block.layout-left A
          span.layout-inline.layout-margin-dull s a mechatronics engineer I am adept at electrical, mechanical, and robotics, this allows me to take on a variety of projects, some more electrical, some robotic. I am often wonderstruck by mechatronics, and I like to create things that will leave others as wonderstruck as me when I see an amazing project.
          +p("<br>")
          p.layout-inline.layout-margin-dull(lorem="3")
          +p("<br> <br> I am a curious person, so, I take on the most intresting projects. I love to explore new ways to approach problems and to solve them in a manner that lets me push myself to new heights. My dream is to work on a project that revelutionizes the world, and some day I believe I will achieve my goal. How about that,")
          +link({
            href: "/",
            class: "layout-margin-horz-left-mini",
            content: "wanna go back home?"
          })

  //- Image Column layer
  +layer
    +layout({
      class: "layout-contain-large"
    })
      +main({
        class: "layout-shorten-vert"
      })
        //- 1st Row
        +row({
          class: "layout-margin-dull"
        })
          //- 1st Column
          +column({
            class: "layout-col-12 layout-padding-small"
          })
            +link({
              href: "/projects/google-designs",
              class: "layout-block"
            }, true)
              +tile({
                title: "Google Design",
                class: "layer-box layer-surface layout-block layer-tile-outline",
                image: {
                  class: "effect-parallax",
                  src: "cloudinary/engineer-piping",
                  alt: "An image of large pipes for a Power Plant from Unsplash.",
                }
              })

        //- 2nd Row
        +row({
          class: "layout-margin-dull"
        })
          //- 2nd Column
          +column({
            class: "layout-col-12 layout-padding-small layout-padding-vert-large"
          })
            +link({
              href: "/projects/nasa",
              class: "layout-block"
            }, true)
              +tile({
                title: "Nasa",
                class: "layer-box layer-surface layout-block layer-tile-outline",
                image: {
                  class: "effect-parallax",
                  src: "cloudinary/aerial-photo-of-brown-mountains",
                  alt: "An aerial photo of brown mountains by JOHN TOWNER @heytowner on Unsplash.",
                }
              })
