extends /app.pug

block pageInfo
  -
    let page = {
      websiteURL,
      url: "/my-resume",
      name: "my-resume",
      title: "My resume — My professional resume, have a look.",
      description: "The resume of Okiki Ojo, a collection of all the professional work accomplished by Okiki Ojo."
    };

block content
  //- Intro layer
  +layer({
    class: "layout-padding-horz-default header-top-spot"
  })
    +layout({
      class: "layout-contain-small"
    })
      section
        +head
          h1.style-font-50--device-phone.style-primary-dark.style-bold.style-uppercase My resume — My professional resume.
        +main({
          class: "layout-clearfix style-align-justify"
        })
          //- span.style-font-title.style-letter-head.layout-padding-right-nano.layout-inline-block.layout-left H
          span.layout-margin-vert-bottom(itemprop='description')
            span.style-font-title.style-letter-head.layout-padding-right-nano.layout-inline-block.layout-left A
            +p("s a child I was curious, and my parents let my curiousity bloom. In high school I discovered a passion for engineering specifically the engineering of robots (which I later found out to be <strong>Mechatronics</strong>). So, I pursed this as a career choice in university, at Ontario Tech in Oshawa, Ontario (formally UOIT; it's near Toronto, Canada). I graduated with honors with a Bachlor of mechatronic engineering, and went straight into my masters. I am finishing up my masters this year and am available for any projects that requires inovative and creative thinking, as well as dedication. <br> <br> In case you are wondering, my skills outside engineering are problem-solving, leadership, communication and conflict resolution. <br> <br>")
            p.layout-inline.layout-margin-dull(lorem="2")
            +p("<br> <br> I have lots of experience working in professional work enviroments and would love the oppertunity to display my experience. If you want my cover-letter and resume click the button below. <br> <br>")
            a.layout-right.action-btn.action-btn-expand.action-btn-smooth.layer-secondary-btn(_download="okikiojo-resume.pdf")
              span.layout-padding-nano
              section.action-btn-layout
                span.action-btn-group.layout-padding-smaller
                  i.action-icon.style-font-size-24(inline) get_app
                  span.action-btn-section
                    span.action-btn-spacer
                    span.action-btn-spacer
                    span.action-btn-content Download

block footer
  +footer({
    class: "layout-margin-vert-top-large"
  })
