extends /app.pug

block pageInfo
  -
    let page = {
      websiteURL,
      url: "/offline",
      name: "offline",
      title: "Yikes you're offline!",
      description: "Psshhh, psshhh, you are cutting off, psshhh. You are currently offline. Reload the page or try again later."
    };

block preload
  link(rel="preload" href="/fonts/montserrat--bold_latin.woff2" as="font" type="font/woff2" crossorigin)

block content
  //- Intro layer
  +layer
    +layout({
      class: "layout-contain layer-overflow-hide"
    })
      section(class="layout-shorten layout-max-height-limited layout-flex layout-align-items-center layout-justify-content-center")
        section.style-center.layout-margin-top-larger--device-phone
          +head({
            class: "layout-margin-bottom"
          })
            h1.style-font-45--device-phone.style-primary-dark.style-bold.layout-margin-dull Yikes you're offline!
          +main
            +p("Psshhh, psshhh, you are cutting off, psshhh. You are currently offline. Reload the page or try again later.")

block footer
  +footer({
    class: "footer-stuck layout-margin-vert-top"
  })
