/* 
    -- TABLE OF CONTENTS --
     * External Imports
         * Fonts
     * Presets & Resets
         * Elements
     * Styles
     * Icons & Font
     * Header
         * Navigation
             * Navbar
     * Main Content
     * Layout
         * Base Layouts
         * Position
         * Container
         * Margins
             * Horizontal Margin
             * Vertical Margin
         * Paddings
             * Horizontal Padding
             * Vertical Padding
         * Clearfix
         * Rows & Columns
     * Layer
     * ETC...
*/

/* -- Fonts -- */
/*
    * font-family: 'Source Sans Pro', sans-serif;
    * font-family: 'Montserrat', sans-serif;
*/

/* -- Presets & Resets -- */
/* -- Elements -- */
*,
*:before,
*:after {
    box-sizing: border-box;
    font-size: 100%;
    outline: none;
    resize: none;
    border: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 300px) {
    *,
    *:before,
    *:after {
        word-wrap: break-word;
    }
}

@media (max-width: 300px) {
    *,
    *:before,
    *:after {
        -ms-word-break: break-all;
        word-break: break-all;
    }
}

html,
body {
    font-family: "Montserrat", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
    background: white;
    line-height: 1.15;
    font-weight: 500;
    min-height: 100%;
    font-size: 15px;
    overflow: auto;
    height: 100%;
    color: #000;
}

html {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    line-height: 1.15;
    font-weight: 400;
    color: inherit;
    display: block;
}

h1 {
    margin: 2.1rem 0 1.68rem 0;
    font-size: 4.2rem;
    font-weight: 900;
}

h2 {
    margin: 1.78rem 0 1.424rem 0;
    font-size: 3.56rem;
    font-weight: 700;
}

h3 {
    margin: 1.46rem 0 1.168rem 0;
    font-size: 2.92rem;
    font-weight: 600;
}

h4 {
    margin: 1.14rem 0 0.912rem 0;
    font-size: 2.28rem;
}

h5 {
    margin: 0.82rem 0 0.656rem 0;
    font-size: 1.64rem;
}

h6 {
    margin: 0.5rem 0 0.4rem 0;
    font-size: 1rem;
}

p {
    margin: 0 2em 10px 2em;
}

hr {
    box-sizing: content-box;
    border-style: inset;
    border-width: 1px;
    overflow: visible;
    display: block;
    height: 0;
}

small {
    font-size: 85%;
}

img,
load-img {
    vertical-align: middle;
    min-height: 200px;
    display: block;
    width: 100%;
}

load-img {
    -webkit-animation: load 0.5s ease infinite alternate;
            animation: load 0.5s ease infinite alternate;
    will-change: background;
    background: black;
    min-height: 300px;
}

img.load-img {
    -webkit-animation: fade 0.5s ease;
            animation: fade 0.5s ease;
}

@-webkit-keyframes fade {
    from { opacity: 0 !important; }
	to { opacity: 1 !important; }
}

@keyframes fade {
    from { opacity: 0 !important; }
	to { opacity: 1 !important; }
}

@-webkit-keyframes load {
    to {
        background: #222;
    }
}

@keyframes load {
    to {
        background: #222;
    }
}

form {
    max-width: 600px;
    margin: 0 auto;
}

fieldset {
    padding: 0.35em 0 0.75em;
    position: relative;
    border: none;
}

label {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 14px;
    display: block;
}

input,
textarea {
    border: 1px solid grey;
    font-size: 16px;
    outline: none;
    resize: none;
}

textarea {
    padding: 0.8em 1.34em;
    height: 10em;
}

input:focus,
textarea:focus {
    border: 2px solid #f36;
}

a {
    background-color: transparent;
    transition: color 0.25s ease;
    text-decoration: none;
    display: inline-block;
    will-change: color;
    overflow: hidden;
    cursor: pointer;
    color: yellow;
}

a:hover,
a:focus {
    text-decoration: line-through;
}

ul,
ol,
menu,
dir {
    list-style-type: disc;
    margin: 20px 2em;
    display: block;
}

ol {
    list-style-type: decimal;
}

ul ul,
ol ul {
    list-style-type: circle;
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
    list-style-type: square;
}

li {
    text-align: inherit;
    display: list-item;
}

/* -- Lists -- */
.list-none {
    list-style: none;
}

/* -- Styles (only affect text) -- */
.style-title {
    font-family: "Source Sans Pro", "Montserrat", sans-serif;
}

.style-fancy {
    font-family: "Montserrat", sans-serif;
}

.style-content {
    font-family: "Montserrat", "Helvetica", "Helvetica Neue", "Arial",
        sans-serif;
}

.style-italic {
    font-style: italic;
}

.style-spaceout-small {
    letter-spacing: 1px;
}

.style-spaceout {
    letter-spacing: 3px;
}

.style-spaceout-large {
    letter-spacing: 7px;
}

.style-line-height-none {
    line-height: 0;
}

.style-line-height-small {
    line-height: 1;
}

.style-line-height {
    line-height: 1.5em;
}

.style-line-height-large {
    letter-spacing: 3em;
}

.style-underline {
    text-decoration: underline;
}

.style-line-through {
    text-decoration: line-through;
}

.style-larger {
    font-size: 35px;
}

.style-large {
    font-size: 18px;
}

.style-normal {
    font-size: 15px;
}

.style-small {
    font-size: 12px;
}

.style-bolder {
    font-weight: 900;
}

.style-bold {
    font-weight: 700;
}

.style-regular {
    font-weight: 600;
}

.style-thin {
    font-weight: 300;
}

.style-thiner {
    font-weight: 100;
}

.style-red {
    color: #d93939;
}

.style-pink {
    color: #f36;
}

.style-yellow {
    color: yellow;
}

.style-gold {
    color: #ffbb33;
}

.style-white {
    color: #fff;
}

.style-grey {
    color: #bbb;
}

.style-darkgrey {
    color: #595959;
}

.style-black {
    color: #000;
}

.style-left {
    text-align: left;
}

.style-center {
    text-align: center;
}

.style-right {
    text-align: right;
}

.style-capital {
    text-transform: capitalize;
}

.style-uppercase {
    text-transform: uppercase;
}

.style-lowercase {
    text-transform: lowercase;
}

/* -- Icons & Font -- */
.material-icons, .mi, .icon {
    -webkit-font-feature-settings: "liga" off, "dlig"; /* Ch 16-26, BB 10, And 18.0 */ /* Fx 4-21 */
    font-feature-settings: "liga", "dlig"; /* IE 10, Saf 4.0-6.0 */
    text-rendering: optimizeLegibility;
    font-family: "Material Icons";
    vertical-align: middle;
    letter-spacing: normal;
    display: inline-block;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    font-weight: normal;
    position: relative;
    font-size: inherit;
    font-style: normal;
    word-wrap: normal;
    line-height: 1;
    direction: ltr;
    height: 1em;
    width: 1em;
}

.icon-btn {
    background: transparent;
    letter-spacing: normal;
    justify-content: center;
    display: -webkit-flex;
    align-content: center;
    text-decoration: none;
    display: -ms-flexbox;
    text-transform: none;
    white-space: nowrap;
    align-items: center;
    border-radius: 20em;
    text-align: center;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    z-index: 425;
    height: 40px;
    width: 40px;
}

.icon-btn .icon,
.icon-btn:hover {
    text-transform: none !important;
    text-decoration: none;
    font-size: 24px;
}

.icon-btn:hover {
    background: rgba(0, 0, 0, 0.3);
}

/* -- Buttons --  */
.btn {
    background: transparent;
    letter-spacing: normal;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    border-radius: 5px;
    text-align: center;
    line-height: 24px;
    padding: 8px 12px;
    font-weight: 500;
    font-size: 13px;
    z-index: 425;
}

.btn-round {
    border-radius: 20em;
}

.btn-icon {
    font-size: 21px;
}

.btn-text {
    margin-right: 8px;
    margin-left: 8px;
}

/* -- Header -- */
/* -- Navigation -- */
.navbar {
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    flex-wrap: nowrap;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1200;
    height: 55px;
    color: #000;
    width: 100%;
}

.navbar-fixed {
    position: fixed;
    left: 0;
    top: 0;
}

.navbar-layout {
    transition: width 0.35s ease; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    flex-direction: row;
    will-change: width;
    margin: 0 auto;
    display: flex;
    height: 100%;
    width: 100%;
}

.navbar-head { /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    display: flex;
    left: 0;
    top: 0;
}

.navbar-head,
.navbar-foot {
    transition: color 0.35s ease;
    will-change: color;
    height: 55px;
}

.navbar-title {
    font-family: "Helvetica", "Arial", sans-serif !important;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    font-size: 17px;
    flex-shrink: 0;
    margin: 5px 0;
    color: yellow;
}

.navbar-spacer { /* OLD - iOS 6-, Safari 3.1-6 */ /* Safari 6.1+. iOS 7.1+, BB10 */ /* IE 10 */
    flex: 1;
}

ul.navbar-list {
    justify-content: center; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    align-items: center;
    white-space: nowrap;
    list-style: none;
    display: flex;
    margin: 0;
}

li.navbar-link a {
    font-family: "Montserrat", sans-serif;
    -ms-word-break: keep-all !important;
    word-break: keep-all !important;
    text-decoration: none;
    vertical-align: middle;
    letter-spacing: 2px;
    align-self: center;
    line-height: 60px;
    font-weight: 600;
    padding: 0 28px;
    font-size: 12px;
    display: block;
    color: yellow;
}

li.navbar-link:hover a {
    color: yellow;
}

li.navbar-link-focus a {
    text-decoration: line-through;
    color: yellow;
}

.navbar-select {
    transition: left 0.35s ease, width 0.35s ease, opacity 0.35s ease;
    will-change: left, width, opacity;
    border-radius: 4px;
    position: absolute;
    background: black;
    display: block;
    height: 8px;
    width: 35px;
    opacity: 0;
    top: -4px;
    left: 0;
}

ul.navbar-list:not(.link-foot):hover + .navbar-select {
    opacity: 1;
}

.navbar-foot {
    justify-content: center; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    display: flex;
    right: 0;
}

.navbar-menu {
    transition: color 0.35s ease;
    will-change: color;
    display: none;
}

@media (max-width: 650px) {
    .navbar-head,
    .navbar-foot {
        position: absolute;
    }
    
    .navbar-main ul.navbar-list {
        display: none;
    }
    
    .navbar-foot {
        padding-right: 20px;
        cursor: pointer;
    }
    
    .navbar-foot:hover {
        text-decoration: line-through;
    }
    
    .navbar-foot:after {
        transition: background 0.35s ease, width 0.35s ease, height 0.35s ease;
        will-change: background, width, height;
        border-radius: 20em;
        background: yellow;
        cursor: pointer;
        display: block;
        height: 10px;
        content: "";
        width: 10px;
    }
    
    .navbar-foot:hover:after {
        height: 15px;
        width: 15px;
    }

    .navbar-menu {
        padding-right: 10px;
        display: block;
    }
}

/* 
    -- Layout (margin, padding, postion, shape, etc...) --
     * vert = vertical 
     * horz = horizontal
*/
/* 
    -- Base Layouts (these tamper with all the layout setting and provide a great start for a layer) -- 
*/
.layout {
    padding-bottom: 100px;
    padding-right: 80px;
    padding-top: 100px;
    padding-left: 80px;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.layout-enlarge,
.layout-enlarge-vert {
    padding-bottom: 180px;
    padding-top: 180px;
}

.layout-enlarge,
.layout-enlarge-horz {
    padding-right: 120px;
    padding-left: 120px;
}

.layout-shorten,
.layout-shorten-vert {
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.layout-shorten,
.layout-shorten-horz {
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 500px) {
    .layout {
        padding-bottom: 50px;
        padding-right: 40px;
        padding-top: 50px;
        padding-left: 40px;
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .layout-enlarge,
    .layout-enlarge-vert {
        padding-bottom: 90px;
        padding-top: 90px;
    }

    .layout-enlarge,
    .layout-enlarge-horz {
        padding-right: 60px;
        padding-left: 60px;
    }

    .layout-shorten,
    .layout-shorten-vert {
        padding-bottom: 25px;
        padding-top: 25px;
        position: relative;
        margin: 0 auto;
        width: 100%;
    }

    .layout-shorten,
    .layout-shorten-horz {
        padding-right: 25px;
        padding-left: 25px;
        position: relative;
        margin: 0 auto;
        width: 100%;
    }

    .layout-shrink,
    .layout-shrink-vert {
        padding-bottom: 50px !important;
        padding-top: 50px !important;
    }

    .layout-shrink,
    .layout-shrink-horz {
        padding-right: 40px !important;
        padding-left: 40px !important;
    }

    .layout-shrink-shorten,
    .layout-shrink-shorten-vert {
        padding-bottom: 25px !important;
        padding-top: 25px !important;
    }

    .layout-shrink-shorten,
    .layout-shrink-shorten-horz {
        padding-right: 25px !important;
        padding-left: 25px !important;
    }

    .layout-shrink-mini,
    .layout-shrink-mini-vert {
        padding-bottom: 15px !important;
        padding-top: 15px !important;
    }

    .layout-shrink-mini,
    .layout-shrink-mini-horz {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}

/* -- Layout Type (block, inline-block, inline, flex) -- */
.layout-block {
    display: block;
}

.layout-flex {
    display: flex;
}

.layout-flex-center {
    justify-content: center;
    align-content: center;
    align-items: center;
}

.layout-align-items-start {
    align-items: flex-start;
}

.layout-align-items-center {
    align-items: center;
}

.layout-align-items-stretch {
    align-items: stretch;
}

.layout-align-items-end {
    align-items: flex-end;
}

.layout-justify-content-start {
    justify-content: start;
}

.layout-justify-content-center {
    justify-content: center;
}

.layout-flex-wrap {
    flex-wrap: wrap;
}

.layout-flex-row {
    flex-direction: row;
}

.layout-flex-col {
    flex-direction: column;
}

.layout-spacer { /* OLD - iOS 6-, Safari 3.1-6 */ /* Safari 6.1+. iOS 7.1+, BB10 */ /* IE 10 */
    flex: 1;
}

.layout-inline {
    display: inline;
}

.layout-inline-block {
    display: inline-block;
}

/* -- Position (horizontal - left, center, right) -- */
.layout-left {
    position: relative;
    float: left;
}

.layout-center {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.layout-right {
    position: relative;
    float: right;
}

/* -- Container (keep the page focused and content central) -- */
.layout-contain,
.layout-contain-large {
    margin: 0 auto;
    width: 100%;
}

.layout-contain-small {
    max-width: 550px;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 300px) {
    .layout-slim {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 800px) {
    .layout-contain,
    .layout-contain-large {
        max-width: 800px;
    }
}

@media (min-width: 900px) {
    .layout-contain-small {
        max-width: 700px;
    }

    .layout-contain,
    .layout-contain-large {
        max-width: 1000px;
    }
}

@media (min-width: 1000px) {
    .layout-contain-large {
        max-width: 1200px;
    }
}

/* 
    -- Margins (create margin defaults for left, top, right, bottom) -- 
     * dull = value is 0
*/
/* -- Horizontal Margin -- */
.layout-margin-dull,
.layout-margin-horz-dull,
.layout-margin-horz-left-dull {
    margin-left: 0 !important;
}

.layout-margin-dull,
.layout-margin-horz-dull,
.layout-margin-horz-right-dull {
    margin-right: 0 !important;
}

.layout-margin-horz {
    margin-right: 25px;
    margin-left: 25px;
}

.layout-margin-horz-small {
    margin-right: 15px;
    margin-left: 15px;
}

.layout-margin-horz-mid {
    margin-right: 20px;
    margin-left: 20px;
}

.layout-margin-horz-large {
    margin-right: 50px;
    margin-left: 50px;
}

.layout-margin-horz-left {
    margin-left: 25px;
}

.layout-margin-horz-right {
    margin-right: 25px;
}

.layout-margin-horz-left-small {
    margin-left: 15px;
}

.layout-margin-horz-right-small {
    margin-right: 15px;
}

.layout-margin-horz-left-mid {
    margin-left: 20px;
}

.layout-margin-horz-right-mid {
    margin-right: 20px;
}

.layout-margin-horz-left-large {
    margin-left: 50px;
}

.layout-margin-horz-right-large {
    margin-right: 50px;
}

/* -- Vertical Margin -- */
.layout-margin-dull,
.layout-margin-vert-dull,
.layout-margin-vert-top-dull {
    margin-top: 0 !important;
}

.layout-margin-dull,
.layout-margin-vert-dull,
.layout-margin-vert-bottom-dull {
    margin-bottom: 0 !important;
}

.layout-margin-vert {
    margin-bottom: 25px;
    margin-top: 25px;
}

.layout-margin-vert-small {
    margin-bottom: 15px;
    margin-top: 15px;
}

.layout-margin-vert-mid {
    margin-bottom: 20px;
    margin-top: 20px;
}

.layout-margin-vert-large {
    margin-bottom: 50px;
    margin-top: 50px;
}

.layout-margin-vert-top {
    margin-top: 25px;
}

.layout-margin-vert-bottom {
    margin-bottom: 25px;
}

.layout-margin-vert-top-small {
    margin-top: 15px;
}

.layout-margin-vert-bottom-small {
    margin-bottom: 15px;
}

.layout-margin-vert-top-mid {
    margin-top: 20px;
}

.layout-margin-vert-bottom-mid {
    margin-bottom: 20px;
}

.layout-margin-vert-top-large {
    margin-top: 50px;
}

.layout-margin-vert-bottom-large {
    margin-bottom: 50px;
}

/* 
    -- Paddings (create padding defaults for left, top, right, bottom) -- 
     * dull = the value is 0 
*/
/* -- Horizontal Padding -- */
.layout-padding-dull,
.layout-padding-horz-dull,
.layout-padding-horz-dull-left {
    padding-left: 0 !important;
}

.layout-padding-dull,
.layout-padding-horz-dull,
.layout-padding-horz-dull-right {
    padding-right: 0 !important;
}

.layout-padding-horz {
    padding-right: 25px;
    padding-left: 25px;
}

.layout-padding-horz-small {
    padding-right: 15px;
    padding-left: 15px;
}

.layout-padding-horz-mid {
    padding-right: 20px;
    padding-left: 20px;
}

.layout-padding-horz-large {
    padding-right: 50px;
    padding-left: 50px;
}

.layout-padding-horz-left {
    padding-left: 25px;
}

.layout-padding-horz-right {
    padding-right: 25px;
}

.layout-padding-horz-left-small {
    padding-left: 15px;
}

.layout-padding-horz-right-small {
    padding-right: 15px;
}

.layout-padding-horz-left-mid {
    padding-left: 20px;
}

.layout-padding-horz-right-mid {
    padding-right: 20px;
}

.layout-padding-horz-left-large {
    padding-left: 50px;
}

.layout-padding-horz-right-large {
    padding-right: 50px;
}

/* -- Vertical Padding -- */
.layout-padding-dull,
.layout-padding-vert-dull,
.layout-padding-vert-dull-top {
    padding-top: 0 !important;
}

.layout-padding-dull,
.layout-padding-vert-dull,
.layout-padding-vert-dull-bottom {
    padding-bottom: 0 !important;
}

.layout-padding-vert {
    padding-bottom: 25px;
    padding-top: 25px;
}

.layout-padding-vert-small {
    padding-bottom: 15px;
    padding-top: 15px;
}

.layout-padding-vert-mid {
    padding-bottom: 20px;
    padding-top: 20px;
}

.layout-padding-vert-large {
    padding-bottom: 50px;
    padding-top: 50px;
}

.layout-padding-vert-top {
    padding-top: 25px;
}

.layout-padding-vert-bottom {
    padding-bottom: 25px;
}

.layout-padding-vert-top-small {
    padding-top: 15px;
}

.layout-padding-vert-bottom-small {
    padding-bottom: 15px;
}

.layout-padding-vert-top-mid {
    padding-top: 20px;
}

.layout-padding-vert-bottom-mid {
    padding-bottom: 20px;
}

.layout-padding-vert-top-large {
    padding-top: 50px;
}

.layout-padding-vert-bottom-large {
    padding-bottom: 50px;
}

/* -- Clearfix (fix for using float) -- */
.layout-clearfix::after,
.layout-clearfix::before,
.layout-contain::after,
.layout-contain::before,
.layout-contain-small::after,
.layout-contain-small::before,
.layout-row::after,
.layout-row::before {
    display: table;
    content: "";
    clear: both;
}

/* -- Rows & Columns -- */
.layout-row { /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    flex-flow: row wrap;
    display: flex;
}

.layout-row [class*="layout-col"] {
    position: relative;
    min-height: 1px;
    width: 100%;
}

.layout-row .layout-col {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
}

@media (max-width: 950px) {
    .layout-row [class*="layout-col-"]:not(.layout-col-12) {
        max-width: 50%;
    }
}

@media (max-width: 650px) {
    .layout-row [class*="layout-col-"] {
        max-width: 100% !important;
    }
}

@media (min-width: 650px) {
    .layout-row [class*="layout-col"] {
        padding-right: 15px;
        padding-left: 15px;
    }
    .layout-contain .layout-row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 950px) {
    .layout-col-1 {
        max-width: 10.33333333333%;
    }

    .layout-col-2 {
        max-width: 18.6666666667%;
    }

    .layout-col-3 {
        max-width: 25%;
    }

    .layout-col-4 {
        max-width: 33.33333333%;
    }

    .layout-col-5 {
        max-width: 41.6666666667%;
    }

    .layout-col-6 {
        max-width: 50%;
    }

    .layout-col-7 {
        max-width: 58.3333333333%;
    }

    .layout-col-8 {
        max-width: 66.66666667%;
    }

    .layout-col-9 {
        max-width: 75%;
    }

    .layout-col-10 {
        max-width: 83.3333333333%;
    }

    .layout-col-11 {
        max-width: 91.6666666667%;
    }

    .layout-col-12 {
        max-width: 100%;
    }
}

/* 
    -- Layer (represents a section of code that displays content) -- 
     * ".more" = is for the learn more buttons
*/
.layer {
    font-family: "Montserrat", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
    position: relative;
    line-height: 1.85;
    font-size: 18px;
    display: block;
    width: 100%;
}

.layer-max-height {
    position: relative;
    height: 100vh;
}

.layer-overflow-hide {
    overflow: hidden;
}

.layer-title {
    font-size: 33px;
}

@media (min-width: 300px) {
    .layer-title {
        font-size: 50px;
    }
}

@media (min-width: 500px) {
    .layer-title {
        font-size: 70px;
    }
}

@media (min-width: 600px) {
    .layer-title {
        font-size: 90px;
    }
}

@media (min-width: 900px) {
    .layer-title {
        font-size: 95px;
    }
}

@media (min-width: 1200px) {
    .layer-title {
        font-size: 110px;
    }
}

@media (max-width: 400px) {
    .layer-content-detail {
        font-size: 25px;
    }
}

@media (max-width: 300px) {
    .layer-content-detail {
        font-size: 18px;
    }
}

/* -- Layer Colors (basic layer background colors) -- */
.layer-white {
    background-color: #fff;
}

.layer-yellow {
    background-color: yellow;
}

.layer-grey {
    background-color: #eee;
}

.layer-darkgrey {
    background-color: #222;
}

.layer-black {
    background-color: #000;
}

.layer-arrow::before {
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 15vmax solid #000;
    position: absolute;
    content: "";
    width: 0;
    top: 0;
}

.layer-arrow-small::before {
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 8vmax solid #000;
    position: absolute;
    content: "";
    width: 0;
    top: 0;
}

.layer-arrow-center::before {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
    left: 50%;
}

.layer-arrow-yellow::before {
    border-top-color: yellow;
}

/* -- ETC... (specific to this site) -- */
.bkg {
    transition: height 0.35s ease, background 0.5s ease;
    will-change: height, background;
    background: yellow;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 0;
}

.header:not(.mobile-on):hover .bkg {
    height: 55px;
}

.mobile-only-show {
    display: none;
}

.mobile-on .mobile-only-show {
    display: block;
}

.title-detail {
    max-width: 480px;
    width: 100%;
}

.social-sidebar {
    position: absolute;
    height: 100vh;
    width: 90px;
    right: 60px;
    top: 0;
}

@media (max-width: 650px) {
    .main .social-sidebar {
        display: none;
    }
}

.social-sidebar li a {
    transition: color 0.35s ease, opacity 0.35s ease;
    will-change: color, opacity;
    line-height: 30px;
    text-align: right;
    width: 90px;
}

.mobile-on .bkg,
.mobile-on .navbar {
    height: 100%;
}

.mobile-on .navbar-head,
.mobile-on .navbar-foot {
    position: absolute;
    height: 60px;
}

.mobile-on .navbar-title,
.mobile-on .navbar-menu,
.mobile-on ~ .copyright-bar a,
.mobile-on ~ .copyright-bar a:hover,
.header:hover .navbar-title,
.header:hover .navbar-menu,
.header:hover li.navbar-link a {
    color: black;
}

.mobile-on .navbar-head {
    left: 0;
}

.mobile-on .navbar-main { /* OLD - iOS 6-, Safari 3.1-6 */ /* Safari 6.1+. iOS 7.1+, BB10 */ /* IE 10 */
    flex: 1;
}

.header:hover .navbar-foot:after,
.mobile-on .navbar-foot:after {
    background: black !important;
}

@media (max-width: 650px) {
    .not-mobile {
        display: none;
    }
}

.mobile-on ul.navbar-list {
    flex-direction: column; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ /* OLD - iOS 6-, Safari 3.1-6, BB7 */ /* TWEENER - IE 10 */
    display: flex;
    height: 100vh;
}

.mobile-on li.navbar-link {
    -webkit-animation: fadeIn 1s ease forwards;
            animation: fadeIn 1s ease forwards;
    -webkit-animation-delay: 0.35s;
            animation-delay: 0.35s;
    opacity: 0;
}

.mobile-on li.navbar-link:nth-of-type(2) {
    -webkit-animation-delay: 0.55s;
            animation-delay: 0.55s;
}

.mobile-on li.navbar-link:nth-of-type(3) {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
}

.mobile-on li.navbar-link a {
    line-height: 80px;
    font-size: 38px;
    color: black;
    padding: 0;
}

.mobile-on li.navbar-link a:hover {
    text-decoration: line-through;
}

.mobile-on ul.navbar-list:hover + .navbar-select {
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.mobile-on .social-sidebar {
    position: relative;
    height: 60px;
    width: 100%;
    bottom: 0;
    right: 0;
}

.mobile-on ~ .main .social-sidebar {
    display: none;
}

.mobile-on .social-sidebar ul,
.mobile-on .social-sidebar li { /* NEW - Safari 6.1+. iOS 7.1+, BB10 */ /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    flex-wrap: wrap;
    display: flex;
}

.mobile-on .social-sidebar li a {
    -webkit-animation: fadeIn 1s ease forwards;
            animation: fadeIn 1s ease forwards;
    -webkit-animation-delay: 0.95s;
            animation-delay: 0.95s;
    text-align: center;
    line-height: 30px;
    padding: 0 12px;
    font-size: 15px;
    color: black;
    width: 100%;
    opacity: 0;
}

.mobile-on .navbar-foot {
    right: 0;
}

.mobile-on .navbar-foot:after {
    background: black;
}

.copyright-bar {
    transition: color 0.35s ease;
    will-change: color;
    position: absolute;
    overflow: hidden;
    z-index: 1200;
    height: 55px;
    color: #000;
    width: 100%;
    bottom: 0;
}

/* -- Particles.js -- */
#particles-js {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("");
    background-color: #000;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

#particles-js canvas {
    vertical-align: bottom;
    display: block;
}