
include /components/navbar.pug
include /components/footer.pug
include /components/image.pug
include /components/link.pug
include /components/seo.pug
include /components/icon.pug
include /components/tile.pug
include /components/card.pug
include /components/prev-and-next.pug

doctype html
html(lang="en").dark
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="Accept-CH" content="DPR, Viewport-Width, Width")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="color-scheme" content="dark")

    -
      let defaults = {
        url: "/",
        websiteURL: "https://okikio.dev",
        title: "okikio — An independent marine specialist organization.",
        description: "okikio is an independent marine specialist organization inspired to serve the Marine Oil and Gas industry with integrity, reliability and consistent delivery.",
        keywords: "marine, specialist, independent, oil, gas, industry, okikio, reliable, consistent, delivery, ship, company, organization, african, innovative, customer centric"
      };

    block projectName
      - let name = "project";

    block pageInfo
      - let page = {};
    - page = Object.assign({}, defaults, page);

    block seo
      +seo(page)

    //- link(href='https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Manrope:wght@500;700;800&family=Playfair+Display:wght@700&display=swap' rel='stylesheet')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(rel="stylesheet", href="/css/app.min.css")
      
    link(rel="manifest", href="/manifest.json")
    link(type="text/plain" rel="author" href="/humans.txt")
    
  body
    +link("#main").skip-main Skip to main content
    +navbar(page)

    div(data-wrapper)
      header(role="banner")
        block hero
      main#main
        article
          block content
      footer
        block footer
          +footer

    script(src="/js/theme.min.js", defer)
    script(src=`https://cdn.polyfill.io/v3/polyfill.min.js?features=default,es2015,es2016,es2017,fetch,smoothscroll` async)

    script(src=`/js/webanimation-polyfill.min.js` async)
    script(src="/js/legacy.min.js", nomodule defer)
    script(src="/js/modern.min.js", type="module" defer)
