extends /layouts/project.pug

block hero
  .project-1.layer-primary.layer
    .project-layout.container.layout.flex.max-w-lg.justify-center
      section.self-center
        h1.scroll-pt.project-title #{name}.
        h2.project-description #{project.description}

block content
  .content.project-1.max-w-lg.m-auto
    .container
      block info

      .py-10
        +prev_and_next(prev, next)