extends /layouts/layout.pug

block projectName
  - let name = "project";

block pageInfo
  - let projectKeys = Object.keys(self.projects);
  - let index = projectKeys.indexOf(name);
  - let next = self.projects[projectKeys[index + 1] || "unknown"];
  - let prev = self.projects[projectKeys[index - 1] || "unknown"];
  - let project = self.projects[name];
  -
    page = {
      ...project,
      name,
      title: `${project.title}`
      //-  — Projects — okikio
    };
