extends /layouts/project.pug

block hero
  banner.project-1.bg-primary(data-layer="bright" initial-nav-color="dark")
    top-space.banner-layout.container-lg.flex.justify-center.text-black
      section.self-center
        h1.project-title #{name}.
        h2.project-description #{project.description}

block content
  .content.project-1.m-auto
    .container-lg
      block info

      .py-10
        +prev_and_next(prev, next)