---
import HeadMetadata from "@/components/HeadMetadata.astro";
import Navbar from "@/components/Navbar.astro";
import Anchor from "@/components/Anchor.astro";

import {ViewTransitions} from 'astro:transitions';

const { content } = Astro.props;
---

<html lang="en" dir="ltr">
  <head>
    <HeadMetadata {...content} />
    <ViewTransitions />
  </head>
  <body>
    <Navbar transition:persist />
    <Anchor id="skip-main" href="#content">Skip to main content</Anchor>

    <slot name="hero" />
    <main id="content">
      <article class="space-y-12">
        <slot />
      </article>
    </main>
    <slot name="footer" />
  </body>
</html>
