---
import HeadMetadata from "@/components/HeadMetadata.astro";
import Navbar from "@/components/Navbar.astro";
import Anchor from "@/components/Anchor.astro";

const { content } = Astro.props;
---

<html lang="en" dir="ltr">
  <head>
    <HeadMetadata {...content} />
  </head>
  <body>
    <Navbar />
    <Anchor id="skip-main" href="#content">Skip to main content</Anchor>

    <slot name="hero" />
    <main id="content">
      <article class="space-y-12">
        <slot />
      </article>
    </main>
    <slot name="footer" />
    
    <!-- <script type="module" src="/scripts/independent-measure.js" defer></script>
    <script type="module" src="https://www.googletagmanager.com/gtag/js?id=G-X6V7MJKKD7" defer></script>
    <script type="module" src="/scripts/measure.js" defer></script> -->
  </body>
</html>
